/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-close2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 10px;
}
.icon-more {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -10px;
  width: 12px;
  height: 10px;
}
.icon-like {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -20px;
  width: 14px;
  height: 14px;
}
.icon-comment {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -34px;
  width: 14px;
  height: 14px;
}
.icon-like2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -48px;
  width: 14px;
  height: 14px;
}
.icon-close {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -62px;
  width: 16px;
  height: 16px;
}
.icon-search2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -78px;
  width: 16px;
  height: 16px;
}
.icon-map {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -94px;
  width: 13px;
  height: 17px;
}
.icon-mobile {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -111px;
  width: 12px;
  height: 18px;
}
.icon-search {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -129px;
  width: 18px;
  height: 18px;
}
.icon-refresh {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -147px;
  width: 18px;
  height: 19px;
}
.icon-fixedTop {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -166px;
  width: 25px;
  height: 19px;
}
.icon-plus {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -185px;
  width: 20px;
  height: 20px;
}
.icon-eye {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -205px;
  width: 20px;
  height: 20px;
}
.icon-fixedKf {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -225px;
  width: 20px;
  height: 20px;
}
.icon-fixedWx {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -245px;
  width: 20px;
  height: 20px;
}
.icon-fixedShopcart {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -265px;
  width: 20px;
  height: 20px;
}
.icon-like3 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -285px;
  width: 20px;
  height: 20px;
}
.icon-loginwb {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -305px;
  width: 27px;
  height: 22px;
}
.icon-normal-hover {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -327px;
  width: 22px;
  height: 22px;
}
.icon-loginqq {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -349px;
  width: 20px;
  height: 22px;
}
.icon-normal {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -371px;
  width: 22px;
  height: 22px;
}
.icon-loginwx {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -393px;
  width: 26px;
  height: 22px;
}
.icon-headerLogo {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -415px;
  width: 21px;
  height: 23px;
}
.icon-userSuccess {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -438px;
  width: 24px;
  height: 24px;
}
.icon-regwx {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -462px;
  width: 28px;
  height: 28px;
}
.icon-logincode {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -490px;
  width: 30px;
  height: 30px;
}
.icon-loginpwd {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -520px;
  width: 30px;
  height: 30px;
}
.icon-praise {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -550px;
  width: 30px;
  height: 30px;
}
.icon-share {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -580px;
  width: 30px;
  height: 30px;
}
.icon-loginuser {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -610px;
  width: 30px;
  height: 30px;
}
.icon-comment2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -640px;
  width: 30px;
  height: 30px;
}
.icon-userIndex1 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -670px;
  width: 30px;
  height: 30px;
}
.icon-userIndex2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -700px;
  width: 30px;
  height: 30px;
}
.icon-userIndex4 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -730px;
  width: 30px;
  height: 30px;
}
.icon-userIndex3 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -760px;
  width: 30px;
  height: 30px;
}
.icon-download {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -790px;
  width: 30px;
  height: 30px;
}
.icon-logos {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -820px;
  width: 166px;
  height: 36px;
}
.icon-businessStep2_2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -856px;
  width: 40px;
  height: 40px;
}
.icon-arrowRight {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -896px;
  width: 40px;
  height: 40px;
}
.icon-businessStep2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -936px;
  width: 40px;
  height: 40px;
}
.icon-businessStep3_2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -976px;
  width: 40px;
  height: 40px;
}
.icon-businessStep3 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1016px;
  width: 40px;
  height: 40px;
}
.icon-findSuccess {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1056px;
  width: 40px;
  height: 40px;
}
.icon-arrowLeft {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1096px;
  width: 40px;
  height: 40px;
}
.icon-businessStep1 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1136px;
  width: 40px;
  height: 40px;
}
.icon-indexB2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1176px;
  width: 47px;
  height: 44px;
}
.icon-indexB1 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1220px;
  width: 44px;
  height: 44px;
}
.icon-indexB4 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1264px;
  width: 48px;
  height: 44px;
}
.icon-indexB3 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1308px;
  width: 44px;
  height: 44px;
}
.icon-indexLeft2 {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1352px;
  width: 50px;
  height: 50px;
}
.icon-qq {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1402px;
  width: 50px;
  height: 50px;
}
.icon-wb {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1452px;
  width: 50px;
  height: 50px;
}
.icon-indexRight {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1502px;
  width: 50px;
  height: 50px;
}
.icon-wx {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1552px;
  width: 50px;
  height: 50px;
}
.icon-userQq {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1602px;
  width: 60px;
  height: 60px;
}
.icon-userWb {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1662px;
  width: 60px;
  height: 60px;
}
.icon-userWx {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1722px;
  width: 60px;
  height: 60px;
}
.icon-logo {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1782px;
  width: 239px;
  height: 60px;
}
.icon-phoneSuccess {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1842px;
  width: 64px;
  height: 64px;
}
.icon-header {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1906px;
  width: 203px;
  height: 87px;
}
.icon-success {
  background-image: url(/dist/img/sprite/sprite.png);
  background-position: 0px -1993px;
  width: 120px;
  height: 120px;
}
