/*
	个人中心导航
*/
/* .userHeaderNav {
  border-bottom: 1px solid #E5E5E5;
  text-align: center;
  height: 120px;

  li {
    float: none;
    display: inline-block;
  }

  .navItem {
    color: #333;
    font-size: 16px;
    line-height: 1;
    padding: 22px 0;
    width: auto;
    margin: 0 25px;
  }

  .navItem.cur,
  .navItem:hover {
    background: #fff;
    color: #C4A779;
  }

  .right-container {
    margin-top: 10px;
  }
} */
/*
	通用左侧菜单
*/
.userLeftNav {
  padding-bottom: 50px;
  margin-bottom: 47px;
  width: 230px;
  float: left;
  background: #fff;
}
.userLeftNav li {
  margin-bottom: 1px;
  padding: 16px 0;
}
.userLeftNav li a {
  color: #999;
}
.userLeftNav li.cur a {
  color: #DF735A;
}
.userLeftNav .userSubNav a {
  line-height: 40px;
  background: #FAFAFA;
  color: #999;
  font-size: 14px;
}
.userLeftNav .badge {
  font-size: 12px;
  width: auto;
  line-height: 18px;
  height: 18px;
  min-width: 18px;
  padding: 0 2px;
}
.userRightContent {
  width: 959px;
  float: right;
  background: white;
}
.userRightContentSetting {
  width: 959px;
  float: right;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
}
/*
	通用用户中心面包
*/
.userPanel {
  box-shadow: none;
  border: 1px solid #eaeaea;
}
.userPanel .panel-header {
  height: 40px;
  background: #fff;
}
.userPanel .panel-control {
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
.userPanel .panel-title {
  font-size: 16px;
  line-height: 40px;
  color: #666;
  font-weight: normal;
}
.userPanel .panel-header:before {
  border-bottom: 0;
}
.userPanel table {
  width: 100%;
  font-size: 14px;
}
/*
	通用选项卡
*/
.userTab {
  border-bottom: none;
}
.userTab .tab-header {
  border-bottom: 2px solid #E8E8E8;
  display: inline-block;
}
.userTab .tab-header li {
  color: #333;
  font-size: 18px;
  height: 32px;
  line-height: 26px;
}
.userTab .tab-header li.active {
  color: #C4A779;
}
.userTab .tab-header li:after {
  background: #C4A779;
  bottom: -2px;
}
.userTab .tab-body {
  padding: 0;
}
/*
	个人中心
*/
.userIndexWrap > div:first-child {
  border: 1px solid #EAEAEA;
  padding: 35px 0;
  text-align: center;
  margin-bottom: 20px;
}
.userIndexWrap table {
  width: 100%;
  table-layout: fixed;
  color: #666;
}
.userIndexWrap td > span {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  line-height: 60px;
  background: #efefef;
}
.userIndexWrap td > span i,
.userIndexWrap td > span img {
  vertical-align: baseline;
}
.userIndexWrap td > p {
  font-size: 14px;
  margin: 10px 0;
}
.userIndexWrap td > div {
  line-height: 30px;
}
.userIndexWrap td > div > span {
  color: #C2A374;
}
.userIndexWrap td .bindBtn {
  border: 1px solid #C2A374;
  color: #C2A374;
  font-size: 12px;
  width: 96px;
}
.userIndexWrap td i {
  font-size: 14px;
  top: 1px;
  position: relative;
}
.userIndexWrap .userPanel a {
  display: inline-block;
}
.userIndexWrap .userPanel .panel-body {
  padding: 50px;
}
.userIndexWrap .userPanel span {
  display: block;
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}
.userPasswordWrap form {
  width: 420px;
  margin: 20px auto;
}
.userPasswordWrap .userPanel td {
  padding: 5px;
}
.userPasswordWrap td > label {
  color: #666;
}
.userPasswordWrap .btn {
  width: 96px;
}
.userPasswordWrap #errorText {
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}
.userPasswordWrap input {
  width: 300px;
  height: 40px;
}
.userInfoWrap form {
  padding-left: 20px;
}
.userInfoWrap td {
  padding: 10px 5px;
}
.userInfoWrap .btn {
  width: 96px;
  margin-top: 20px;
}
.userInfoWrap .avatar {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.userInfoWrap .avatar img {
  vertical-align: baseline;
}
.userInfoWrap .tip {
  color: #666;
  margin-top: 5px;
  font-size: 12px;
}
.userInfoWrap .select .select-input input {
  width: 100%;
}
.userInfoWrap .nickname,
.userInfoWrap .realname {
  width: 288px;
}
.userPhoneWrap table {
  float: right;
  width: auto;
}
.userPhoneWrap td {
  vertical-align: top;
  padding: 5px;
}
.userPhoneWrap input {
  width: 100%;
  height: 40px;
}
.userPhoneWrap p {
  height: 20px;
  line-height: 20px;
}
.userPhoneWrap .error {
  color: #FF0000;
  margin-top: 5px;
}
.userPhoneWrap .codeBtn {
  width: 96px;
  float: right;
  line-height: 38px;
}
.userPhoneWrap .submitBtn {
  width: 111px;
}
.userPhoneWrap .refreshBtn,
.userPhoneWrap .Validform_checktip {
  position: relative;
  top: 10px;
}
.userPhoneWrap #errorText {
  height: 20px;
  line-height: 20px;
  color: #FF0000;
}
.userPhoneWrap .stepWrap {
  margin-bottom: 50px;
  margin-top: 20px;
}
.userPhoneWrap .stepWrap ul {
  width: 510px;
  position: relative;
  margin: 0 auto;
  color: #CCCCCC;
  margin-bottom: 40px;
  overflow: hidden;
}
.userPhoneWrap .stepWrap ul:after {
  position: absolute;
  height: 10px;
  content: "";
  top: 43px;
  left: 20px;
  right: 20px;
  background: #E5E5E5;
}
.userPhoneWrap .stepWrap li {
  width: 70px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.userPhoneWrap .stepWrap li span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #CCCCCC;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  line-height: 40px;
}
.userPhoneWrap .stepWrap li p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
.userPhoneWrap .stepWrap li i {
  position: relative;
  top: -3px;
}
/*
	我的店铺
*/
.userShopInfo .title {
  overflow: hidden;
  margin: 10px 0;
  font-size: 16px;
  color: #666666;
  padding: 0 10px;
}
.userShopInfo .infoWrap li {
  border-top: 1px solid #EAE8E9;
  padding: 10px 0;
  line-height: 20px;
}
.userShopInfo .infoWrap table {
  width: 100%;
}
.userShopInfo .infoWrap td {
  padding: 10px;
}
.userShopInfo .infoWrap label {
  font-size: 14px;
  color: #1A1A1A;
  line-height: 20px;
}
.userShopInfo .infoWrap .cardInfo table {
  margin: 10px 0;
}
.userShopInfo .infoWrap .cardInfo td,
.userShopInfo .infoWrap .cardInfo th {
  border: 1px solid #CCCCCC;
  padding: 10px;
}
.userShopInfo .checkingWrap {
  text-align: center;
}
.userShopInfo .checkingWrap img {
  margin: 40px 0;
  display: inline-block;
}
.userShopInfo .checkingWrap h3 {
  margin-bottom: 20px;
  font-size: 18px;
}
.userShopInfo .checkingWrap strong {
  margin: 0 5px;
}
.userShopInfo .checkingWrap p {
  color: #666;
}
/*
	我的订单
*/
#orderSearch {
  position: absolute;
  top: 30px;
  right: 20px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
}
#orderSearch .searchTime {
  padding-right: 0;
  width: 365px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
#orderSearch .searchTime i,
#orderSearch .searchTime span {
  line-height: 22px;
}
#orderSearch .dot {
  display: inline-block;
  margin: 0 12px;
  width: 4px;
  height: 4px;
  background: #666;
  border-radius: 50%;
}
#orderSearch .input {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
#orderSearch .input a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
#orderSearch .input a i {
  top: 8px;
  right: 8px;
}
#orderNav ul {
  line-height: 30px;
  font-size: 14px;
  color: #999;
}
#orderNav li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
#orderNav li:nth-child(1) {
  margin-right: 50px;
  font-weight: bold;
  color: #333;
}
#orderNav li span {
  position: absolute;
  right: -50%;
  display: inline-block;
  padding: 0 6px;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background: #FB746E;
  border-radius: 7px;
}
#orderNav li.cur {
  font-weight: bold;
  color: #333;
}
.navMy {
  width: 22px;
  height: 22px;
  margin-left: -16px;
}
#orderTableHead {
  margin-top: 10px;
  margin-bottom: 26px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  background: #f3f3f3;
}
#orderTableHead .head-item {
  display: inline-block;
  text-align: center;
}
#orderTableHead .type-item {
  text-align: left;
}
#orderTableHead .type-item.title-item {
  padding-left: 28px;
}
#orderTableHead .type-item input {
  padding-left: 20px;
  background: #f3f3f3;
  border: 0;
}
#orderTableHead .count-item {
  width: 100px;
}
#orderTableHead .money-item {
  width: 100px;
}
#orderTableHead .operation-item {
  width: 340px;
}
#orderList .orderListItem {
  border: 1px solid #EAEAEA;
  margin: 20px 0;
  color: #666;
}
#orderList .topinfo {
  padding: 0 76px 0 28px;
  line-height: 55px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background: #F3F3F3;
}
#orderList .topinfo .shop-name {
  display: inline-block;
  min-width: 130px;
}
#orderList .topinfo .state {
  color: #FB746E;
}
#orderList table {
  width: 100%;
}
#orderList .goodsList li {
  margin: 20px 0;
}
#orderList .goodsName {
  overflow: hidden;
  margin-bottom: 10px;
  padding-right: 80px;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#orderList .goodsIntro {
  line-height: 18px;
  color: #999;
}
#orderList .goods-number {
  color: #999;
}
#orderList .goods-price {
  font-size: 18px;
  color: #FB746E;
}
#orderList .payWay {
  margin-top: 10px;
}
#orderList .operation-box {
  padding: 30px 40px 20px;
  text-align: right;
  font-size: 0;
}
#orderList .operation-box p,
#orderList .operation-box div {
  display: inline-block;
  font-size: 14px;
}
#orderList .btn {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 123px;
  line-height: 36px;
  border: 1px solid #dedede;
}
#orderList .btn-warning {
  color: #fff;
  background: #D57E6A;
  border-color: #D57E6A;
}
#orderList .border p {
  margin-top: 10px;
}
#orderProgress {
  padding: 30px 0;
}
#orderProgress ul {
  font-size: 0;
  line-height: 20px;
}
#orderProgress ul li {
  width: 25%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
#orderProgress ul li:before {
  content: "";
  position: absolute;
  height: 1px;
  background: #999999;
  top: 0;
  left: 0;
  width: 100%;
}
#orderProgress ul li.cur::before {
  background: #FB746E;
}
#orderProgress ul li.cur .point {
  background: #FB746E;
}
#orderProgress ul li.cur h4 {
  color: #FB746E;
}
#orderProgress ul li span {
  display: inline-block;
  width: 138px;
  height: 15px;
}
#orderProgress ul li .point {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background: #999999;
  border-radius: 50%;
}
#orderProgress ul li h4 {
  margin-top: 10px;
}
#orderDetail .panel {
  margin: 20px 0;
}
#orderDetail .panel-title {
  font-size: 14px;
}
#orderDetail .panel table {
  width: 100%;
}
#orderDetail .orderInfo {
  font-size: 14px;
}
#orderDetail .orderInfo p {
  margin: 15px 0;
}
#orderDetail .orderInfo p label {
  color: #666;
}
#orderDetail .payInfo td,
#orderDetail .expressInfo td,
#orderDetail .ticketInfo td,
#orderDetail .sellerInfo td {
  padding: 10px 0;
}
#orderDetail .goodsList {
  color: #666;
}
#orderDetail .goodsList thead tr {
  border-bottom: 1px dashed #eaeaea;
  font-weight: normal;
}
#orderDetail .goodsList td {
  color: #aaa;
}
#orderDetail .goodsList td h3 {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}
#orderDetail .goodsList td p {
  color: #aaa;
  font-size: 12px;
}
/*
	查看物流信息弹出框
*/
.orderExpressDialog .dialog-body > div {
  padding: 0 20px;
}
.orderExpressDialog .dialog-main {
  margin-top: -285px;
}
.orderExpressDialog #orderExpress {
  max-height: 400px;
  text-align: left;
}
.orderExpressDialog table {
  width: 100%;
}
.orderExpressDialog td {
  padding: 10px 0;
}
.orderExpressDialog td p {
  color: #666;
  line-height: 24px;
}
.orderExpressDialog td p span {
  color: #999;
}
.orderExpressDialog ul {
  position: relative;
}
.orderExpressDialog ul:after {
  content: "";
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px;
  background: #999999;
}
.orderExpressDialog li {
  line-height: 24px;
  margin-bottom: 15px;
}
.orderExpressDialog li span {
  display: block;
  float: left;
  width: 120px;
}
.orderExpressDialog li p {
  font-size: 12px;
  color: #666;
  width: 500px;
  padding-left: 20px;
  float: left;
}
/*
	我发布的信息公共样式
*/
.userPublish #publishForm {
  color: #666;
  font-size: 14px;
}
.userPublish #publishForm label {
  margin-left: 5px;
  line-height: 28px;
}
.userPublish #publishForm input[type="text"],
.userPublish #publishForm select {
  width: 150px;
}
.userPublish #publishForm textarea {
  width: 823px;
  height: 138px;
}
.userPublish .img > div,
.userPublish .img2 > a {
  display: block;
  float: left;
  margin-right: 10px;
  width: 140px;
  height: 140px;
  overflow: hidden;
  position: relative;
}
.userPublish .img > div > div {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.34);
  color: #fff;
  text-align: center;
  right: 0;
}
.userPublish .img > div img,
.userPublish .img2 > a img {
  width: 100%;
  height: 100%;
}
.userPublish .tinymce-container {
  position: relative;
}
.userPublish .editor-custom-btn-container {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2000;
}
.userAddressWrap {
  padding: 30px 20px;
}
.userAddressWrap p {
  font-size: 14px;
}
.userAddressWrap table {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #EAEAEA;
}
.userAddressWrap thead {
  background: #F4F4F4;
  line-height: 40px;
  font-size: 14px;
  color: #666;
}
.userAddressWrap th {
  font-weight: normal;
}
.userAddressWrap tbody tr {
  border-top: 1px dotted #EAEAEA;
}
.userAddressWrap tbody tr:first-child {
  border-top: 0;
}
.userAddressWrap tbody td {
  padding: 25px 10px;
  line-height: 20px;
}
.no_coupon {
  text-align: center;
  padding: 207px 0 381px;
  color: #333;
  font-size: 16px;
}
.no_coupon img {
  width: 482px;
}
.no_coupon p {
  margin-top: -50px;
}
.add_title {
  line-height: 32px;
}
.add_title .address_title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.add_title .address_add {
  border: 1px solid #df735a;
  font-size: 14px;
  color: #df735a;
  line-height: 30px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.add_content .address_list {
  display: inline-block;
  float: left;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  margin: 10px;
  padding: 5px;
  position: relative;
  width: 290px;
  height: 150px;
}
.add_content .address_list .update_address {
  position: absolute;
  right: 40px;
  cursor: pointer;
}
.add_content .address_list .delete_address {
  position: absolute;
  right: 8px;
  cursor: pointer;
}
.add_content .address_list .address_details {
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.add_content .normal_address {
  color: white;
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 2px;
  color: #ffffff;
  line-height: 18px;
  cursor: pointer;
}
.add_content .normal_address .span_normal {
  background: #df735a;
  padding: 3px;
}
.add_content .normal_address .span_setNormal {
  font-size: 14px;
  color: #df735a;
}
.add_content p {
  padding: 5px;
}
.userRightTitle {
  font-size: 16px;
  color: #333333;
  margin-top: 33px;
  margin-bottom: 20px;
}
.userRightItem {
  border: 1px solid #000000;
  height: 1px;
  opacity: 0.1;
}
.userRightContentItem {
  line-height: 114px;
  height: 114px;
}
.userRightContentItem .item_content {
  margin-left: 5px;
  font-size: 14px;
  color: #666666;
  line-height: 21px;
}
.userRightContentItem .item_btn {
  float: right;
  margin-top: 43px;
}
.userRightContentItem .item_right_arrow {
  float: right;
}
.update_password {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 7px;
}
.el-dialog__body p {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #999999;
}
.navLeftItem span {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 0;
  display: inline-block;
  margin-left: 12px;
  margin-right: 34px;
}
.navLeftItem ul li {
  color: #999999;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: -30px;
}
.navMy {
  width: 22px;
  height: 22px;
  margin-left: -16px;
}
.trade {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count {
  margin: 0 3.5px;
  width: 7px;
  height: 14px;
  cursor: pointer;
}
.countx {
  width: 14px;
  height: 7px;
  cursor: pointer;
}
dd,
dl,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}
.dw {
  font-size: 12px;
}
.nodata {
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
}
