<ul>
  <li>
    <p class="title">用户协议</p>
    <ul class="userSubNav">
      <li>
        <a href="../../agreement/user_protocol/sumary">纠纷处理总规则</a>
      </li>
      <li>
        <a href="../../agreement/user_protocol/quality">商品质量问题纠纷处理</a>
      </li>
      <li>
        <a href="../../agreement/user_protocol/sign_in_rules">签收问题的纠纷处理</a>
      </li>
      <li>
        <a href="../../agreement/user_protocol/evaluate">用户评价规则声明</a>
      </li>
      <li>
        <a href="../../agreement/user_protocol/freight">运费问题纠纷处理</a>
      </li>
      <li>
        <a href="../../agreement/user_protocol/refundable">退货问题纠纷处理</a>
      </li>
      <li>
        <a href="../../agreement/user_protocol/privacy">隐私权条款</a>
      </li>
    </ul>
  </li>
</ul>
<style>
  .userLeftNav {
    padding: 20px;
  }

  .userLeftNav .title {
    padding: 10px 0;
    font-weight: bold;
    color: #333;
    font-size: 16px;
  }

  .userLeftNav .userSubNav a {
    background: #fff;
  }

  .userLeftNav li {
    padding: 0;
  }
</style>