<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
  <script src="../dist/js/lib.js"></script>
  <style type="text/css">
    .touch-we h3 {
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      margin: 30px 0;
    }

    .touch-we p {
      font-size: 16px;
      margin-bottom: 30px;
      color: #000000;
    }
  </style>
</head>

<body class="userAccount">

  <%- include ../headerbar.ejs %>

  <%- include ../headerNav.ejs %>

  <div class="main container touch-we" id="main">
    <h3>联系我们</h3>
    <p>中宝协云平台</p>
    <p>工作时间：周一至周五9:00-17:30（除国家法定节假日外）</p>
    <p>商务合作：BD@gacjc.com</p>
    <!-- <p>Emal：BD@gacjc.com</p> -->
    <!-- <p style="margin-bottom: 10px;">人事招聘：</p> -->
    <p>人事招聘：：zhouchengtong@gacjc.com</p>
    <p>微信号服务号及二维码：zbxyptfwh</p>
    <p style="margin-left: 30px;"><img src="../../src/img/touch_we.jpg" width="200px" /></p>
  </div>

  <%- include ../footer.ejs %>
</body>

</html>