<style>
  .agreement .dialog-title {
    text-align: center;
    font-size: 20px;
  }

  .agreement .dialog-main {
    width: 644px;
    height: 558px;
    margin-left: -322px;
    margin-top: -279px;
  }

  .agreement .dialog-body {
    bottom: 0;
    line-height: 26px;
    padding-bottom: 20px;
    height: 490px;
    overflow-y: auto;
  }

  .agreement .dialog-body>div {
    padding: 0 35px 20px;
    font-size: 14px;
    position: relative;
    /* overflow-y: auto; */
    text-align: left;

  }

  /* .agreement .dialog-body>div::-webkit-scrollbar {
		display: none;
	} */

  .agreement-main {
    margin: 30px 0;
  }

  .agreement-content h3 {
    font-weight: bolder;
    color: #000000;
  }

  .agreement-content p span {
    color: #000;
  }
</style>
<div class="dialog agreement" id="agreement1">
  <div class="mask"></div>
  <div class="dialog-main">
    <div class="dialog-header clearfix">
      <a class="fr dialog-close"><i class="icon icon-close"></i></a>
      <h3 class="dialog-title">中宝协云平台用户注册协议</h3>
    </div>
    <div class="dialog-body">
      <div>
        <div class="agreement-main fs16">本协议为中宝协云平台与您之间就中宝协云平台相关事宜所订立的契约，请务必仔细阅读本协议，同意并勾选本协议即刻生效，对双方有法律约束力。</div>
        <div class="agreement-content fs14">
          <h3>一、本站服务条款的确认和接纳</h3>
          <p>
            <span>1.1&emsp;</span>本站的各项电子服务的所有权和运作权归中宝协云平台所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。
          </p>
          <p><span>1.2&emsp;</span>用户点击同意本协议的，即视为用户确认自己具有享受本站服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
          <p><span>1.3&emsp;</span>如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本站。</p>
          <p><span>1.4&emsp;</span>中宝协云平台网保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</p>
          <h3>二、本站服务</h3>
          <p><span>2.1&emsp;</span>中宝协云平台通过互联网依法为用户提供互联网信息等服务，用户在完全同意本协议及本站规定的情况下，方有权使用本站的相关服务。</p>
          <p>
            <span>2.2&emsp;</span>用户必须自行准备如下设备和承担如下开支：（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；（2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。
          </p>
          <p><span>2.3&emsp;</span>用户因利用本服务及购买商品而发生的所有应纳税赋均由用户自行负责支付。</p>
          <h3>三、用户信息</h3>
          <p>
            <span>3.1&emsp;</span>用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且中宝协云平台保留终止用户使用中宝协云平台各项服务的权利。
          </p>
          <p>
            <span>3.2&emsp;</span>用户在本站进行浏览、下单购物等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，本站不会向外界披露用户隐私信息。
          </p>
          <p>
            <span>3.3&emsp;</span>用户注册成功后，将产生用户名和密码等账户信息，您可以根据本站规定改变您的密码。用户应谨慎合理的保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本站并向公安机关报案。
          </p>
          <p><span>3.4&emsp;</span>用户同意，中宝协云平台拥有通过邮件、短信电话等形式，向在本站注册、购物用户、收货人发送订单信息、促销活动等告知信息的权利。</p>
          <p><span>3.5&emsp;</span>用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
          <p><span>3.6&emsp;</span>用户同意，中宝协云平台有权使用用户的注册信息、用户名、密码等信息，登录进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
          <h3>四、用户依法言行义务</h3>
          <p>本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：</p>
          <p>（1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</p>
          <p>（2）不得利用本站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
          <p>（3）不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统；</p>
          <p>（4）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；</p>
          <p>（5）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</p>
          <p>（6）不得教唆他人从事本条所禁止的行为；</p>
          <p>（7）不得利用在本站注册的账户进行牟利性经营活动；</p>
          <p>（8）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；</p>
          <p>用户应不时关注并遵守本站不时公布或修改的各类合法规则规定。本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。</p>
          <p>若用户未遵守以上规定的，本站有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
          <h3>五、商品信息</h3>
          <p>
            本站上的商品价格、数量、是否有货等商品信息随时都有可能发生变动，本站不作特别通知。由于网站上商品信息的数量极其庞大，虽然本站会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本站网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解；中宝协云平台欢迎纠错，并会视情况给予纠错者一定的奖励。为表述便利，商品和服务简称为"商品"或"货物"。
          </p>
          <h3>六、订单</h3>
          <p>
            <span>6.1&emsp;</span>在您下订单时，请您仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息。收货人与用户本人不一致的，收货人的行为和意思表示视为用户的行为和意思表示，用户应对收货人的行为及意思表示的法律后果承担连带责任。
          </p>
          <p>
            <span>6.2&emsp;</span>除法律另有强制性规定外，双方约定如下：本站上销售方展示的商品和价格等信息仅仅是要约邀请，您下单时须填写您希望购买的商品数量、价款及支付方式、收货人、联系方式、收货地址（合同履行地点）、合同履行方式等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向销售方发出的合同要约；销售方收到您的订单信息后，只有在销售方将您在订单中订购的商品从仓库实际直接向您发出时（
            以商品出库为标志），方视为您与销售方之间就实际直接向您发出的商品建立了合同关系；如果您在一份订单里订购了多种商品并且销售方只给您发出了部分商品时，您与销售方之间仅就实际直接向您发出的商品建立了合同关系；只有在销售方实际直接向您发出了订单中订购的其他商品时，您和销售方之间就订单中该其他已实际直接向您发出的商品才成立合同关系。您可以随时登录您在本站注册的账户，查询您的订单状态。
          </p>
          <h3>七、配送</h3>
          <p><span>7.1&emsp;</span>销售方将会把商品（货物）送到您所指定的收货地址，所有在本站上列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。
          </p>
          <p><span>7.2&emsp;</span>因如下情况造成订单延迟或无法配送等，销售方不承担延迟配送的责任：</p>
          <div>
            <p>（1）用户提供的信息错误、地址不详细等原因导致的；</p>
            <p>（2）货物送达后无人签收，导致无法配送或延迟配送的；</p>
            <p>（3）情势变更因素导致的；</p>
            <p>（4）不可抗力因素导致的，例如：自然灾害、交通戒严、突发战争等。</p>
          </div>
          <h3>八、所有权及知识产权条款</h3>
          <p>
            <span>8.1&emsp;</span>用户一旦接受本协议，即表明该用户主动将其在任何时间段在本站发表的任何形式的信息内容（包括但不限于客户评价、客户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给中宝协云平台所有，用户同意中宝协云平台有权就任何主体侵权而单独提起诉讼。
          </p>
          <p>
            <span>8.2&emsp;</span>本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在中宝协云平台站上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。
          </p>
          <p><span>8.3&emsp;</span>用户同意并已充分了解本协议的条款，承诺不将已发表于本站的信息，以任何形式发布或授权其它主体以任何方式使用（包括但限于在各类网站、媒体上使用）。</p>
          <p>
            <span>8.4&emsp;</span>中宝协云平台是本站的制作者,拥有此网站内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本协议及本站的内容进行修改，并在本站张贴，无须另行通知用户。在法律允许的最大限度范围内，中宝协云平台对本协议及本站内容拥有解释权。
          </p>
          <p>
            <span>8.5&emsp;</span>除法律另有强制性规定外，未经中宝协云平台明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本站的信息内容，否则，中宝协云平台有权追究其法律责任。
          </p>
          <p>
            <span>8.6&emsp;</span>本站所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是中宝协云平台或其内容提供者的财产，受中国和国际版权法的保护。本站上所有内容的汇编是中宝协云平台的排他财产，受中国和国际版权法的保护。本站上所有软件都是中宝协云平台或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。
          </p>
          <h3>九、责任限制及不承诺担保</h3>
          <p>除非另有明确的书面说明,本站及其所包含的或以其它方式通过本站提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在"按现状"和"按现有"的基础上提供的。</p>
          <p>除非另有明确的书面说明中宝协云平台不对本站的运营及其包含在本网站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。</p>
          <p>
            中宝协云平台不担保本站所包含的或以其它方式通过本站提供给您的全部信息、内容、材料、产品（包括软件）和服务、其服务器或从本站发出的电子信件、信息没有病毒或其他有害成分。如因不可抗力或其它本站无法控制的原因使本站销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，中宝协云平台会合理地尽力协助处理善后事宜。
          </p>
          <h3>十、协议更新及用户关注义务</h3>
          <p>
            根据国家法律法规变化及网站运营需要，中宝协云平台有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本站上即生效，并代替原来的协议。用户可随时登录查阅最新协议；用户有义务不时关注并阅读最新版的协议及网站公告。如用户不同意更新后的协议，可以且应立即停止接受中宝协云平台站依据本协议提供的服务；如用户继续使用本网站提供的服务的，即视为同意更新后的协议。中宝协云平台建议您在使用本站之前阅读本协议及本站的公告。
            如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p>
          <h3>十一、法律管辖和适用</h3>
          <p>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。
            如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。</p>
          <h3>十二、其他</h3>
          <p><span>12.1&emsp;</span>中宝协云平台所有者是指在政府部门依法许可或备案的网站经营主体。</p>
          <p>
            <span>12.2&emsp;</span>中宝协云平台尊重用户和消费者的合法权利，本协议及本网站上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和消费者提供服务。本站欢迎用户和社会各界提出意见和建议，中宝协云平台将虚心接受并适时修改本协议及本站上的各类规则。
          </p>
          <p><span>12.3&emsp;</span>您点击本协议下方的"同意协议并注册"按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="dialog agreement" id="agreement2">
  <div class="mask"></div>
  <div class="dialog-main">
    <div class="dialog-header clearfix">
      <a class="fr dialog-close"><i class="icon icon-close"></i></a>
      <h3 class="dialog-title">中宝协云平台服务条款</h3>
    </div>
    <div class="dialog-body">
      <div>
        <div class="agreement-red">
          发布时间:2020-01-06
        </div>
        <div class="agreement-main fs16">欢迎“您”（以下或称“用户”）与“中宝协（北京）珠宝文化有限公司”（下称“中宝协云平台”） 共同签署本《中宝协云平台服务条款》协议（下称“本协议”）。
        </div>
        <div class="agreement-content fs14">
          <h3 class="agreement-red">一、 服务条款的确认及接受</h3>
          <p>
            <span>1.&emsp;</span>请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序并停止使用服务。您在点击同意本协议之前，请您再次确认已知悉并完全理解本协议的全部内容。
          </p>
          <p>
            <span>2.&emsp;</span>根据国家法律法规变化及网站运营需要，中宝协云平台有权对本协议条款不时地进行修改，修改后的协议以任何形式公布在本站上即生效，并取代此前相关内容。您可随时登录查阅最新协议。您应关注并阅读本网站公告、提示信息及协议、规则等相关内容的变动。您知悉并确认，如您不同意更新后的内容，应立即停止使用本网站；如您继续使用本网站，即视为知悉变动内容并同意接受。
          </p>
          <h3 class="agreement-red">二、 协议范围</h3>
          <p><strong><span>2.1&emsp;</span>签约主体</strong></p>
          <p>本协议由您与中宝协云平台共同缔结，本协议对您与中宝协云平台具有同等合同效力。</p>
          <p><strong><span>2.2&emsp;</span>补充协议</strong></p>
          <p>
            由于互联网高速发展，您与中宝协云平台签署的本协议列明的条款并不能完整罗列并覆盖您与中宝协云平台所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，中宝协云平台法律声明、隐私政策均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用中宝协云平台服务，视为您同意上述补充协议。
          </p>
          <h3 class="agreement-red">三、 服务开通</h3>
          <p><strong><span>3.1&emsp;</span>用户资格</strong></p>
          <p>
            <span>3.1.1&emsp;</span>您确认，在您完成注册程序或以其他中宝协云平台允许的方式实际使用服务时，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的相应后果，且中宝协云平台有权终止向您提供服务并注销您的账户。如您代表一家公司或其他法律主体在中宝协云平台中国站注册，则您声明和保证，您有权使该公司或该法律主体受本协议的约束。
          </p>
          <p>
            <span>3.1.2&emsp;</span>此外，您还需确保您不是任何国家、国际组织或者地域实施的贸易限制、制裁或其他法律、规则限制的对象，否则您可能无法正常注册及使用服务。
          </p>
          <p><strong><span>3.2&emsp;</span>账户注册</strong></p>
          <p>
            <span>3.2.1&emsp;</span>在您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他中宝协云平台允许的方式实际使用中宝协云平台服务时，您即受本协议的约束。您可以使用您提供或确认的邮箱、手机号码或者中宝协云平台允许的其它方式作为登录手段进入中宝协云平台。
          </p>
          <p>
            <span>3.2.2&emsp;</span>由于您的账户关联您的信息及中宝协云平台商业信息，您的账户仅限您本人使用。未经中宝协云平台书面同意，您直接或间接授权第三方使用您账户或获取您账户项下信息的行为无效。如中宝协云平台根据您账户的使用行为等情况判断您账户的使用可能危及您的账户安全及/或中宝协云平台信息安全的，中宝协云平台可拒绝提供相应服务或终止本协议。
          </p>
          <p><strong><span>3.3&emsp;</span>账户转让</strong></p>
          <p>
            由于用户账户关联用户信用信息，仅当有法律明文规定、司法裁定或经中宝协云平台同意，并符合中宝协云平台规则规定的账户转让流程的情况下，您可进行账户的转让。您的账户一经转让，该账户项下权利义务一并转移。除此外，您的账户不得以任何方式转让，否则中宝协云平台有权追究您的违约责任，且由此产生的相应责任均由您承担。
          </p>
          <p><strong><span>3.4&emsp;</span>实名认证</strong></p>
          <p>为使您更好地使用中宝协云平台的各项服务，保障您的账户安全，中宝协云平台可要求您按国家法律法规的规定完成实名认证。</p>
          <p><strong><span>3.5&emsp;</span>不活跃账户回收</strong></p>
          <p>如您的账户同时符合以下条件，您的中宝协云平台账户可能被注销，不能再登陆中宝协云 平台，所有中宝协云平台服务将同时终止:</p>
          <p>(一)未通过实名认证;</p>
          <p>(二)连续 6个月未使用您的邮箱、手机或中宝协云平台认可的其他方式和密码登录过中 宝协云平台;</p>
          <p>(三)不存在未到期的有效业务。</p>
          <p><strong><span>3.6&emsp;</span>注册信息管理</strong></p>
          <p>
            <span>3.6.1&emsp;</span>在完成注册或激活流程时，您应当按中宝协云平台相应页面的提示准确完整地提供并及时更新您的信息，以使之真实、及时、完整和准确。在国家法律法规有明确规定要求中宝协云平台作为平台服务提供者必须对用户（如卖家等）的信息进行核实的情况下，中宝协云平台将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整、有效的信息。
          </p>
          <p>
            <span>3.6.2&emsp;</span>如中宝协云平台按您最后一次提供的信息与您联系未果、您未按中宝协云平台的要求及时提供信息、您提供的信息存在明显不实或行政司法机关核实您提供的信息无效的，您将承担因此对您自身、他人及中宝协云平台造成的全部损失与不利后果。中宝协云平台可向您发出询问或要求整改的通知，并要求您进行重新认证，直至中止、终止对您提供部分或全部中宝协云平台服务，除法律明确规定外中宝协云平台对此不承担责任。
          </p>
          <p><span>3.6.3&emsp;</span>您设置的账户登录名及昵称不得违反国家法律法规及中宝协云平台规则的相应管理规定，否则中宝协云平台可回收您的登录名及昵称，并按中宝协云平台规则进行相应的处理。
          </p>
          <p><strong><span>3.7&emsp;</span>账户安全</strong></p>
          <p>
            <span>3.7.1&emsp;</span>您的账户为您自行设置并由您保管，中宝协云平台任何时候均不会主动要求您提供您的账户密码。因此，建议您务必保管好您的账户，并确保您在每个上网时段结束时退出登录并以正确步骤离开中宝协云平台。账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，中宝协云平台并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。
          </p>
          <p><span>3.7.2&emsp;</span>您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息、询/报价、采购产品、订购服务及披露信息等）负责。</p>
          <p>
            <span>3.7.3&emsp;</span>如发现任何未经授权使用您账户登录中宝协云平台或其他可能导致您账户遭窃、遗失的情况，建议您立即通知中宝协云平台。您理解中宝协云平台对您的任何请求采取行动均需要合理时间，且中宝协云平台应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除中宝协云平台存在法定过错外，中宝协云平台不承担责任。
          </p>
          <h3 class="agreement-red">四、 服务内容</h3>
          <p><strong><span>4.1&emsp;</span>店铺管理</strong></p>
          <p><strong><span>4.1.1&emsp;</span>店铺创建</strong></p>
          <p>
            通过在中宝协云平台创建店铺，您可发布全新或二手商品及/或服务信息并与其他用户达成交易。基于中宝协云平台管理需要，您理解并认可，同一用户在中宝协云平台仅能在珠宝店（适合品牌珠宝店、珠宝零售商申请）、设计师（适合能为消费者提供个性化定制需求的设计师申请）、制造间（适合珠宝批发、加工厂申请）店铺3种类型店铺下开设1个店铺，中宝协云平台可关闭您在中宝协云平台同一类型店铺开设的其他店铺。
          </p>
          <p><strong><span>4.1.2&emsp;</span>店铺转让</strong></p>
          <p>由于店铺与账户的不可分性，店铺转让实质为店铺经营者账户的转让，店铺转让的相关要求与限制请适用本协议3.3条账户转让条款。</p>
          <p><strong><span>4.1.3&emsp;</span>店铺关停</strong></p>
          <p>
            如您通过下架全部商品短暂关停您的店铺，您应当对您店铺关停前已达成的交易继续承担发货、退换货及质保维修、维权投诉处理等交易保障责任。在您的店铺连续六周无出售中的商品的情况下，中宝协云平台也可依据中宝协云平台规则关停您的店铺。依据上述约定关停店铺均不会影响您已经累积的信用。
          </p>
          <p><strong><span>4.2&emsp;</span>产品及/或服务的报价、销售与推广</strong></p>
          <p><strong><span>4.2.1&emsp;</span>商品及/或服务信息发布</strong></p>
          <p>
            通过中宝协云平台提供的服务，您有权通过文字、图片、视频、音频等形式在中宝协云平台上发布商品及/或服务信息、招揽和物色交易对象、达成交易。
          </p>
          <p><strong><span>4.2.2&emsp;</span>禁止销售范围</strong></p>
          <p>您应当确保您对您在中宝协云平台上发布的商品及/或服务享有相应的权利，您不得在中宝协云平台上销售以下商品及/或提供以下服务：</p>
          <p>（一）国家禁止或限制的；</p>
          <p>（二）侵犯他人知识产权或其它合法权益的；</p>
          <p>（三）中宝协云平台规则、公告、通知或各平台与您单独签署的协议中已明确说明不适合在中宝协云平台上销售及/或提供的。</p>
          <p><strong><span>4.2.3&emsp;</span>交易秩序保障</strong></p>
          <p>
            您应当遵守诚实信用原则，确保您所发布的商品及/或服务信息真实、与您实际所销售的商品及/或提供的服务相符，并在交易过程中切实履行您的交易承诺。您应当维护中宝协云平台市场良性竞争秩序，不得贬低、诋毁竞争对手，不得干扰中宝协云平台上进行的任何交易、活动，不得以任何不正当方式提升或试图提升自身的信用度，不得以任何方式干扰或试图干扰中宝协云平台的正常运作。
          </p>
          <p><strong><span>4.2.4&emsp;</span>促销及推广</strong></p>
          <p>
            您有权自行决定商品及/或服务的促销及推广方式，中宝协云平台亦为您提供了形式丰富的促销推广工具。您的促销推广行为应当符合国家相关法律法规及中宝协云平台的要求。
          </p>
          <p><strong><span>4.2.5&emsp;</span>依法纳税</strong></p>
          <p>
            依法纳税是每一个公民、企业应尽的义务，您应对销售额/营业额超过法定免征额部分及时、足额地向税务主管机关申报纳税。
          </p>
          <p><strong><span>4.3&emsp;</span>产品及/或服务的询价、采购与评价</strong></p>
          <p>
            <strong><span>4.3.1&emsp;</span>商品及/或服务的销售当您在中宝协云平台销售商品及/或服务时，请您务必仔细确认所销售商品的品名、价格、数量、型号、规格、尺寸或服务的时间、内容、限制性要求等重要事项，并在客户下单时核实客户的联系地址、电话、收货人等信息。如您填写的收货人下单信息错误产生的邮费及法律后果均由您承担。您的销售行为应当基于真实的消费需求负责，不得存在对商品及/或服务实施恶意销售劣质、高仿、假货，对消费者维权单方面恶意拒绝等扰乱中宝协云平台正常交易秩序的行为。基于维护中宝协云平台交易秩序及交易安全的需要，中宝协云平台发现上述情形时可主动执行关闭相关交易订单或关闭店铺等操作。</strong>
          </p>
          <p><strong><span>4.3.2&emsp;</span>评价</strong></p>
          <p>
            您有权在中宝协云平台提供的评价系统中对与您达成交易的其他用户商品及/或服务进行的评价进行回复。您应当理解，作为商家您在中宝协云平台的评价信息是公开的，在评价信息中会向公众披露您的身份信息，您无权选择通过匿名形式发表评价内容。您的所有评价行为应遵守中宝协云平台规则的相关规定，评价内容应当客观真实，不应包含任何污言秽语、色情低俗、广告信息及法律法规与本协议列明的其他禁止性信息；您不应以不正当方式帮助他人提升信用或利用评价权利对其他用户实施威胁、敲诈勒索。中宝协云平台可按照中宝协云平台规则的相关规定对您实施上述行为所产生的评价信息进行删除或屏蔽。
          </p>
          <p><strong><span>4.4&emsp;</span>交易争议处理</strong></p>
          <p>
            <strong><span>4.4.1&emsp;</span>您可通过中宝协云平台所支持的交易方式与其他用户达成交易，并遵守相应交易与支付规则。您理解并同意，中宝协云平台仅作为用户物色交易对象，就产品和服务的交易进行协商，以及获取各类与贸易相关的服务的地点，中宝协云平台不会参与用户间的交易，亦不会涉及用户间因交易而产生的法律关系及法律纠纷。</strong>
          </p>
          <p><strong><span>4.4.2&emsp;</span>评价</strong></p>
          <p>
            您在中宝协云平台交易过程中与其他用户发生争议的，您或其他用户中任何一方均有权选择以下途径解决：
          </p>
          <p>（一）与争议相对方自主协商;</p>
          <p>（二）使用中宝协云平台提供的争议调解处理服务；</p>
          <p>（三）向有关行政部门投诉；</p>
          <p>（四）根据与争议相对方达成的仲裁协议（如有）提请仲裁机构仲裁；</p>
          <p>（五）向人民法院提起诉讼。</p>
          <p>
            <span>4.4.3&emsp;</span>如您依据中宝协云平台规则使用中宝协云平台的争议调解处理服务，则表示您认可并愿意履行中宝协云平台的客服作为独立的第三方根据其所了解到的争议事实并依据中宝协云平台规则所作出的调解处理决定（包括调整相关订单的交易状态、判定将争议款项的全部或部分支付给交易一方或双方、执行相应的保证金赔付等）。在中宝协云平台调解处理决定作出前，您可选择上述其他争议处理途径解决争议以中止中宝协云平台的争议调处服务。如您对调处决定不满意，您仍有权采取其他争议处理途径解决争议，但通过其他争议处理途径未取得终局决定前，您仍应先履行调处决定。
          </p>
          <h3 class="agreement-red">五、 服务费用</h3>
          <p><strong><span>5.1&emsp;</span>服务费用</strong></p>
          <p>
            中宝协云平台向您提供的服务付出了大量的成本，但除中宝协云平台明示的收费业务外，中宝协云平台向您提供的服务目前是免费的。收费业务目前仅为中宝协云平台收取平台上经营商家销售产品成交额百分之一的佣金。如未来中宝协云平台向您收取合理费用，中宝协云平台会采取合理途径并以足够合理的期限提前通过法定程序并以本协议第六条约定的方式通知您，确保您有充分选择的权利。
          </p>
          <p><strong><span>5.2&emsp;</span>结算支付</strong></p>
          <p>
            消费者在中宝协云平台购物，支付货款将通过平台直接汇入银联账户，货款由银联作为第三方合作单位监管，中宝协云平台不对货款直接收取。商品发货后，在用户确认收货7天后，商家即可提现。如果用户没有手动确认收货，系统将会在发货9天后，自动确认收货。如果用户选择延迟收货，自动确认收货的时候将延迟7天。商家遵照上述规定发起提现动作三个工作日内销售货款到账(收货异常情况除外)。
          </p>
          <p><strong><span>5.3&emsp;</span>服务费用</strong></p>
          <p>
            其他费用您因进行交易、向中宝协云平台获取有偿服务或接触中宝协云平台服务器而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。
          </p>
          <h3 class="agreement-red">六、 通知</h3>
          <p><strong><span>6.1&emsp;</span>有效联系方式</strong></p>
          <p>
            您在注册成为中宝协云平台用户，并接受中宝协云平台服务时，您应该向中宝协云平台提供真实有效的联系方式（包括您的电子邮件地址、联系电话、联系地址等），对于联系方式发生变更的，您有义务及时更新有关信息，并保持可被联系的状态。您在注册中宝协云平台用户时生成的用于登陆中宝协云平台接收站内信、系统消息的会员账号（包括子账号），也作为您的有效联系方式。中宝协云平台将向您的上述联系方式的其中之一或其中若干向您送达各类通知，而此类通知的内容可能对您的权利义务产生重大的有利或不利影响，请您务必及时关注。您有权通过您注册时填写的手机号码或者电子邮箱获取您感兴趣的商品广告信息、促销优惠等商业性信息；您如果不愿意接收此类信息，您有权通过中宝协云平台提供的相应的退订功能进行退订。
          </p>
          <p><strong><span>6.2&emsp;</span>通知的送达</strong></p>
          <p>
            中宝协云平台通过上述联系方式向您发出通知，其中以电子的方式发出的书面通知，包括但不限于在中宝协云平台平台公告，向您提供的联系电话发送手机短信，向您提供的电子邮件地址发送电子邮件，系统消息以及站内信信息，在发送成功后即视为送达；以纸质载体发出的书面通知，按照提供联系地址交邮后的第五个自然日即视为送达。对于在中宝协云平台上因交易活动引起的任何纠纷，您同意司法机关（包括但不限于人民法院）可以通过手机短信、电子邮件等现代通讯方式或邮寄方式向您送达法律文书（包括但不限于诉讼文书）。您指定接收法律文书的手机号码、电子邮箱等联系方式为您在中宝协云平台注册、更新时提供的手机号码、电子邮箱联系方式，司法机关向上述联系方式发出法律文书即视为送达。您指定的邮寄地址为您的法定联系地址或您提供的有效联系地址。您同意司法机关可采取以上一种或多种送达方式向您达法律文书，司法机关采取多种方式向您送达法律文书，送达时间以上述送达方式中最先送达的为准。您同意上述送达方式适用于各个司法程序阶段。如进入诉讼程序的，包括但不限于一审、二审、再审、执行以及督促程序等。你应当保证所提供的联系方式是准确、有效的，并进行实时更新。如果因提供的联系方式不确切，或不及时告知变更后的联系方式，使法律文书无法送达或未及时送达，由您自行承担由此可能产生的法律后果。
          </p>
          <h3 class="agreement-red">七、 用户信息的保护及授权</h3>
          <p><strong><span>7.1&emsp;</span>个人信息的保护</strong></p>
          <p>
            中宝协云平台非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您使用中宝协云平台提供的服务时，您同意中宝协云平台按照在中宝协云平台上公布的隐私政策收集、存储、使用、披露和保护您的个人信息。中宝协云平台希望通过隐私政策向您清楚地介绍中宝协云平台对您个人信息的处理方式，因此中宝协云平台建议您完整地阅读隐私政策（点击此处或点击中宝协云平台首页底部链接），以帮助您更好地保护您的隐私权。
          </p>
          <p><strong><span>7.2&emsp;</span>非个人信息的保证与授权</strong></p>
          <p>
            7.2.1您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，中宝协云平台可对您发布的信息依法或依本协议进行删除或屏蔽。
          </p>
          <p>
            7.2.2您应当确保您所发布的信息不包含以下内容：
          </p>
          <p>（一）违反国家法律法规禁止性规定的；</p>
          <p>（二）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
          <p>（三）欺诈、虚假、不准确或存在误导性的；</p>
          <p>（四）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</p>
          <p>（五）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</p>
          <p>（六）存在可能破坏、篡改、删除、影响中宝协云平台任何系统正常运行或未经授权秘密获取中宝协云平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；</p>
          <p>（七）其他违背社会公共利益或公共道德或依据相关中宝协云平台协议、规则的规定不适合在中宝协云平台上发布的。</p>
          <p>
            7.2.3对于您提供、发布及在使用中宝协云平台服务中形成的除个人信息外的文字、图片、视频、音频等非个人信息，在法律规定的保护期限内您免费授予中宝协云平台及其关联公司获得全球排他的许可使用权利及再授权给其他第三方使用并可以自身名义对第三方侵权行为取证及提起诉讼的权利。您同意中宝协云平台及其关联公司存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。
          </p>
          <h3 class="agreement-red">八、 责任限制</h3>
          <p>
            8.1中宝协云平台依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，中宝协云平台并不承担相应的违约责任：
          </p>
          <p>（一）因自然灾害、疫情、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；</p>
          <p>（二）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；</p>
          <p>（三）在中宝协云平台已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素。</p>
          <p>
            8.2中宝协云平台仅向您提供本协议约定之服务，您了解中宝协云平台上的信息系用户自行发布，且可能存在风险和瑕疵。中宝协云平台将通过依照法律规定建立相关检查监控制度尽可能保障您在中宝协云平台的合法权益及良好体验。同时，鉴于中宝协云平台具备存在海量信息及信息网络环境下信息与实物相分离的特点，中宝协云平台无法逐一审查产品及/或服务的信息，无法逐一审查交易所涉及的产品及/或服务的质量、安全以及合法性、真实性、准确性，对此您应谨慎判断。
          </p>
          <p>
            8.3您理解并同意，在争议调处服务中，中宝协云平台的客服并非专业人士，仅能以普通人的认知对用户提交的凭证进行判断，中宝协云平台不保证争议调处决定一定符合您的期望，除法律明确规定存在故意或重大过失外，中宝协云平台对争议调处决定不承担责任。
          </p>
          <h3 class="agreement-red">九、 违约责任</h3>
          <p><strong><span>9.1&emsp;</span>违约认定</strong></p>
          <p>
            发生如下情形之一的，视为您违约：
          </p>
          <p>（一）使用中宝协云平台服务时违反有关法律法规规定的；</p>
          <p>
            （二）违反本协议或本协议补充协议约定的。为适应电子商务发展和满足海量用户对高效优质服务的需求，您理解并同意，中宝协云平台可在中宝协云平台规则中约定违约认定的程序和标准。如：中宝协云平台可依据您的用户数据与海量用户数据的关系来认定您是否构成违约；您有义务对您的数据异常现象进行充分举证和合理解释，否则将被认定为违约。
          </p>
          <p><strong><span>9.2&emsp;</span>违约处理措施</strong></p>
          <p>
            9.2.1您在中宝协云平台上发布的信息构成违约的，中宝协云平台可根据相应规则立即对相应信息进行删除、屏蔽处理或对您的产品进行下架、删除、监管。
          </p>
          <p>
            9.2.2您在中宝协云平台上实施的行为，或虽未在中宝协云平台上实施但对中宝协云平台及其用户产生影响的行为构成违约的，中宝协云平台可依据相应规则对您执行账户扣分、限制参加营销活动、中止向您提供部分或全部服务、划扣违约金等处理措施。如您的行为构成根本违约的，中宝协云平台可关闭您的账户，终止向您提供服务。
          </p>
          <p>9.2.3当您违约的同时存在欺诈、售假、盗用他人账户等特定情形或您存在危及他人交易安全或账户安全风险时。</p>
          <p>
            9.2.4中宝协云平台可将对您上述违约行为处理措施信息以及其他经国家行政或司法机关生效法律文书确认的违法信息在中宝协云平台上予以公示。
          </p>
          <p><strong><span>9.3&emsp;</span>赔偿责任</strong></p>
          <p>
            9.3.1如您的行为使中宝协云平台及/或其关联公司遭受损失（包括自身的直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费等间接经济损失），您应赔偿中宝协云平台及/或其关联公司的上述全部损失。
          </p>
          <p>
            9.3.2如您的行为使中宝协云平台及/或其关联公司遭受第三人主张权利，中宝协云平台及/或其关联公司可在对第三人承担金钱给付等义务后就全部损失向您追偿。
          </p>
          <p><strong><span>9.4&emsp;</span>特别约定</strong></p>
          <p>
            9.4.1如您向中宝协云平台及/或其关联公司的雇员或顾问等提供实物、现金、现金等价物、劳务、旅游等价值明显超出正常商务洽谈范畴的利益，则可视为您存在商业贿赂行为。发生上述情形的，中宝协云平台可按照中宝协云平台规则进行相应处理，并经提前通知后终止与您的所有合作并向您收取违约金及/或赔偿金，该等金额以中宝协云平台因您的贿赂行为而遭受的经济损失和商誉损失作为计算依据。
          </p>
          <p>
            9.4.2如您因严重违约导致中宝协云平台终止本协议时，出于维护平台秩序及保护其他用户合法权益的目的，中宝协云平台及/或其关联公司可对与您在其他协议项下的合作采取中止甚或终止协议的措施，并以本协议约定的有效方式通知您。
          </p>
          <p>
            9.4.3如中宝协云平台与您签署的其他协议及中宝协云平台及/或其关联公司与您签署的协议中明确约定了对您在本协议项下合作进行关联处理的情形，则中宝协云平台出于维护平台秩序及保护其他用户合法权益的目的，可在收到指令时中止甚至终止协议，并以本协议约定的有效方式通知您。
          </p>
          <h3 class="agreement-red">十、 协议终止</h3>
          <p><strong><span>10.1&emsp;</span>协议终止的情形</strong></p>
          <p>
            10.1.1您有权通过以下任一方式终止本协议：
          </p>
          <p>（一）在满足中宝协云平台要求的账户注销条件时您通过网站自助服务注销您的账户的；</p>
          <p>（二）变更事项生效前您停止使用中宝协云平台服务并明示不愿接受变更事项的；</p>
          <p>（三）您明示不愿继续使用中宝协云平台服务，且符合中宝协云平台要求的终止条件的。</p>
          <p>10.1.2出现以下情况时，中宝协云平台可以本协议约定的有效方式通知您终止本协议：</p>
          <p>（一）您的实名认证身份无效、不再合法存续或无法有效核实；</p>
          <p>（二）您违反本协议约定，中宝协云平台依据违约条款终止本协议的；</p>
          <p>（三）您盗用他人账户、发布违禁信息、欺诈、售假、扰乱市场秩序、采取不正当手段牟利等行为，中宝协云平台依据中宝协云平台规则对您的账户予以关闭的；</p>
          <p>（四）除上述情形外，因您多次违反中宝协云平台规则相关规定且情节严重，中宝协云平台依据中宝协云平台规则对您的账户予以关闭的；</p>
          <p>（五）您的账户被中宝协云平台依据本协议回收的；</p>
          <p>（六）您在中宝协云平台有欺诈、发布或销售假冒伪劣/侵权产品、侵犯他人合法权益或其他严重违法违约行为的；</p>
          <p>（七）中宝协云平台基于合理理由相信您的行为可能会使您、中宝协云平台及中宝协云平台用户等相关方发生严重损害或产生法律责任；</p>
          <p>（八）其它应当终止服务的情况。</p>
          <p><strong><span>10.2&emsp;</span>协议终止后的处理</strong></p>
          <p>
            10.2.1本协议终止后，除法律有明确规定外，中宝协云平台无义务向您或您指定的第三方披露您账户中的任何信息。
          </p>
          <p>10.2.2本协议终止后，中宝协云平台仍享有下列权利：</p>
          <p>（一）继续保存您留存于中宝协云平台中国站的本协议第十一条所列的各类信息；</p>
          <p>
            （二）对于您过往的违约行为，中宝协云平台仍可依据本协议向您追究违约责任。10.2.3本协议终止后，对于您在本协议存续期间产生的交易订单，中宝协云平台可通知交易相对方并根据交易相对方的意愿决定是否关闭该等交易订单；如交易相对方要求继续履行的，则您应当就该等交易订单继续履行本协议及交易订单的约定，并承担因此产生的任何损失或增加的任何费用。
          </p>
          <p>
            10.2.3本协议终止后，对于您在本协议存续期间产生的交易订单，中宝协云平台可通知交易相对方并根据交易相对方的意愿决定是否关闭该等交易订单；如交易相对方要求继续履行的，则您应当就该等交易订单继续履行本协议及交易订单的约定，并承担因此产生的任何损失或增加的任何费用。
          </p>
          <h3 class="agreement-red">十一、 所有权和知识产权</h3>
          <p>
            11.1您一旦接受本协议，对于您任何时间段提供、创作、上传、发布在本网站的文字、评论、图片、照片、视频、音频等任何形式的信息内容（包括但不限于客户评价、客户咨询、各类话题文章等内容），您免费授予中宝协云平台至保护期终止为止、不可撤销的、全球范围的、排他的许可使用著作权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可许可使用的权利）、肖像权、用户ID名称等相关的全部合法权利权益，就中宝协云平台具有诉讼主体资格的权利、权益，中宝协云平台有权以自身名义对第三方侵权行为取证及提起诉讼。您同意中宝协云平台有权存储、使用、复制、修订、编辑、发布、展示、翻译、分发、推广、出版、发行、信息网络传播您以上信息内容，有权改编制作派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。
          </p>
          <p>11.2中宝协云平台有权再许可给其他第三方第十一条第一款的所有权利。</p>
          <p>11.3您应确保在中宝协云平台上发表的第十一条第一款各类信息内容均不涉及侵犯第三方肖像、隐私、知识产权或其他合法权益。否则中宝协云平台有权随时采取包括但不限于删除、断开链接等措施。</p>
          <p>
            11.4本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在中宝协云平台站上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。
          </p>
          <p>11.5您同意并已充分了解本协议的条款，承诺不将已发表于本网站的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用）。</p>
          <p>11.6除法律另有强制性规定外，未经中宝协云平台明确的特别书面同意,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本网站的信息内容，否则，中宝协云平台有权追究其法律责任。
          </p>
          <p>
            11.7本网站所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是中宝协云平台或其内容提供者的财产，受中国和国际版权法的保护。本网站上所有内容的汇编是中宝协云平台的排他财产，受中国和国际版权法的保护。本网站上所有软件都是中宝协云平台或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。
          </p>
          <h3 class="agreement-red">十二、 法律适用、管辖及其他</h3>
          <p>
            12.1本协议的订立、执行和解释及争议的解决均应适用中华人民共和国大陆地区法律。如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，应向协议签订地有管辖权的人民法院提起诉讼。本协议签订地为中华人民共和国北京市东城区。
          </p>
          <p>12.2如果本协议中任何一条被裁定为废止、无效或不可强制执行，该项条款应被撤销，而其余条款应予遵守和执行。</p>
          <p>12.3本协议未明示授权的其他权利仍由中宝协云平台保留，您在行使这些权利时须另外取得中宝协云平台的书面许可。中宝协云平台如果未行使前述任何权利，并不构成对该权利的放弃。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--设计师协议-->
<div class="dialog agreement" id="agreement3">
  <div class="mask"></div>
  <div class="dialog-main">
    <div class="dialog-header clearfix">
      <a class="fr dialog-close"><i class="icon icon-close"></i></a>
      <h3 class="dialog-title">中宝协云平台开店协议</h3>
    </div>
    <div class="dialog-body">
      <div>
        <div class="agreement-main fs16">
          本协议为中宝协云平台（简称“平台”或“本站”）与中宝协云平台商家（简称“用户”）注册相关事宜所订立的契约，请务必仔细阅读本协议，同意并勾选本协议即刻生效，对双方有法律约束力。</div>
        <div class="agreement-content fs14">
          <h3>一、 本站服务条款的确认和接纳</h3>
          <p>
            <span>1.1&emsp;</span>本站的各项电子服务的所有权和运作权归中宝协云平台所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。
          </p>
          <p><span>1.2&emsp;</span>用户点击同意本协议的，即视为用户确认自己具有享受本站服务相应的权利能力和行为能力，能够独立承担法律责任。</p>
          <p><span>1.3&emsp;</span>如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本站。</p>
          <p><span>1.4&emsp;</span>中宝协云平台保留在相关法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</p>
          <h3>二、 本站服务</h3>
          <p><span>2.1&emsp;</span>中宝协云平台通过互联网依法为用户提供互联网信息等服务，用户在完全同意本协议及本站规定的情况下，方有权使用本站的相关服务。</p>
          <p>
            <span>2.2&emsp;</span>用户必须自行准备如下设备和承担如下开支：（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；（2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。
          </p>
          <p><span>2.3&emsp;</span>用户因利用本服务及购买商品而发生的所有应纳税赋均由用户自行负责支付。</p>
          <h3>三、 用户信息</h3>
          <p>
            <span>3.1&emsp;</span>用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且中宝协云平台保留终止用户使用中宝协云平台各项服务的权利。
          </p>
          <p>
            <span>3.2&emsp;</span>用户在本站进行各项操作活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，本站不会向外界披露用户隐私信息。
          </p>
          <p>
            <span>3.3&emsp;</span>用户注册成功后，将产生用户名和密码等账户信息，您可以根据本站规定改变您的密码。用户应谨慎合理的保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本站并向公安机关报案。
          </p>
          <p><span>3.4&emsp;</span>用户同意，中宝协云平台拥有通过邮件、短信电话等形式，向在本站注册用户发送规则变更、消息提醒等告知信息的权利。</p>
          <p><span>3.5&emsp;</span>用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
          <p><span>3.6&emsp;</span>用户同意，中宝协云平台有权使用用户的注册信息、用户名、密码等信息，登录进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
          <h3>四、 用户依法言行义务</h3>
          <p>本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：</p>
          <div>
            <p>（1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</p>
            <p>（2）从中国大陆向境外传输资料信息时必须符合中国有关法规；</p>
            <p>（3）不得利用本站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
            <p>（4）不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统；</p>
            <p>（5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；</p>
            <p>（6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</p>
            <p>（7）不得教唆他人从事本条所禁止的行为；</p>
            <p>（8）不得利用在本站注册的账户进行牟利性经营活动；</p>
            <p>（9）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；</p>
            <p>用户应不时关注并遵守本站不时公布或修改的各类合法规则规定。本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。</p>
            <p>若用户未遵守以上规定的，本站有权做出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
          </div>
          <h3>五、 商家规则变更</h3>
          <p>
            中宝协云平台有权随时变更、升级交易平台相关服务及其功能，有权定期或不定期对交易平台进行系统维护，有权在交易平台中开发新的模块、功能和软件或提供其它语种服务，除非中宝协云平台另有说明，否则变更后的服务等仍适用本协议。中宝协云平台在行使前述权利时，将尽可能采取适当方式通知用户。
          </p>
          <p>中宝协云平台有权根据需要不时地制定、修改交易平台的使用规则，如规则发生变更，中宝协云平台将在交易平台上以公示形式通知用户，如用户对规则的变更等事项有异议的，中宝协云平台有权决定是否按原规则履行协议或终止合作。
          </p>
          <p>
            中宝协云平台有权对用户注册数据、发布的信息和交易行为进行查阅，对发现的违法违规内容有权不经通知即删除；对发现的其他问题或疑问有权向用户发出询问及要求改正的通知，用户应在接到通知后立即做出说明或改正。对于用户的上述违约行为，中宝协云平台有权追究其违约、侵权责任并/或解除本协议。
          </p>
          <h3>六、 所有权及知识产权条款</h3>
          <p>
            <span>6.1&emsp;</span>中宝协云平台对平台的商号、商标、域名、图案标示、标志、标识等归属于中宝协云平台或识别中宝协云平台的所有信息享有知识产权；用户对在中宝协云平台内经营的商品的商号、商标、域名、图案标示、标志、标识等归属于乙方或识别乙方的所有信息享有知识产权。
          </p>
          <p>
            <span>6.2&emsp;</span>用户一旦接受本协议，即表明该用户在此授予中宝协云平台免费的许可使用权利（并有权对该权利进行再授权），使中宝协云平台有权（全部或部份地）使用、复制、修订、改写、发布、翻译、分发、执行和展示用户公示于其中宝协云平台店铺的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。
          </p>
          <p><span>6.3&emsp;</span>用户同意并已充分了解本协议的条款，承诺不将已发表于本站的信息，以任何形式发布或授权其它主体以任何方式使用（包括但限于在各类网站、媒体上使用）。</p>
          <p>
            <span>6.4&emsp;</span>中宝协云平台是本站的制作者,拥有此网站内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本协议及本站的内容进行修改，并在本站张贴，无须另行通知用户。在法律允许的最大限度范围内，中宝协云平台对本协议及本站内容拥有解释权。
          </p>
          <p>
            <span>6.5&emsp;</span>除法律另有强制性规定外，未经中宝协云平台明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本站的信息内容，否则，中宝协云平台有权追究其法律责任。
          </p>
          <p>
            <span>6.6&emsp;</span>本站所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是中宝协云平台或其内容提供者的财产，受中国和国际版权法的保护。本站上所有内容的汇编是中宝协云平台的排他财产，受中国和国际版权法的保护。本站上所有软件都是中宝协云平台或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。
          </p>
          <h3>七、 责任限制及不承诺担保</h3>
          <p>除非另有明确的书面说明,本站及其所包含的或以其它方式通过本站提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在"按现状"和"按现有"的基础上提供的。</p>
          <p>除非另有明确的书面说明, 中宝协云平台不对本站的运营及其包含在本网站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。</p>
          <p>中宝协云平台不担保本站所包含的或以其它方式通过本站提供给您的全部信息、内容、材料、产品（包括软件）和服务、其服务器或从本站发出的电子信件、信息没有病毒或其他有害成分。</p>
          <p>如因不可抗力或其它本站无法控制的原因使本站销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，中宝协云平台会合理地尽力协助处理善后事宜。</p>
          <h3>八、 协议更新及用户关注义务</h3>
          <p>
            根据国家法律法规变化及网站运营需要，中宝协云平台有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本站上即生效，并代替原来的协议。用户可随时登录查阅最新协议；用户有义务不时关注并阅读最新版的协议及网站公告。如用户不同意更新后的协议，可以且应立即停止接受中宝协云平台站依据本协议提供的服务；如用户继续使用本网站提供的服务的，即视为同意更新后的协议。中宝协云平台建议您在使用本站之前阅读本协议及本站的公告。
            如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p>
          <h3>九、 法律管辖和适用</h3>
          <p>本协议的订立、执行和解释及争议的解决均应适用在相应有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。
            如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。</p>
          <h3>十、 其他</h3>
          <p><span>10.1&emsp;</span>中宝协云平台所有者是指在政府部门依法许可或备案的网站经营主体。</p>
          <p>
            <span>10.2&emsp;</span>中宝协云平台尊重用户和消费者的合法权利，本协议及本网站上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和消费者提供服务。本站欢迎用户和社会各界提出意见和建议，中宝协云平台将虚心接受并适时修改本协议及本站上的各类规则。
          </p>
          <p><span>10.3&emsp;</span>您点击本协议下方的"同意协议并注册"按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--隐私政策-->
<div class="dialog agreement" id="agreement4">
  <div class="mask"></div>
  <div class="dialog-main">
    <div class="dialog-header clearfix">
      <a class="fr dialog-close"><i class="icon icon-close"></i></a>
      <h3 class="dialog-title">中宝平隐私权条款</h3>
    </div>
    <div class="dialog-body">
      <div>
        <div class="agreement-main fs16">
          中宝协云平台（以下简称“中宝平”）尊重并保护所有使用云平台服务的用户的个人信息及个人隐私。本隐私权条款包含了我们收集、存储、使用、共享和保护用户（“您”）的个人信息的条款，我们希望通过本隐私权条款向您清晰地介绍我们对为您提供的访问、更新、控制和保护您个人信息的方式，因此我们建议您完整地阅读本《中宝协云平台隐私权条款》（下称“本隐私权条款”），以帮助您了解维护自己隐私权的方式。如果您对本隐私权条款有任何疑问，您可以通过云平台客服渠道与我们联系。如果您不同意本隐私权条款的任何内容，您应立即停止使用云平台服务。当您使用云平台提供的服务时，即表示您已同意我们按照本隐私权条款来合法使用和保护您的个人信息。
        </div>
        <div class="agreement-content fs14">
          <h3>一、 定义</h3>
          <p>
            <span>1.&emsp;</span>中宝协云平台，中宝协云系由中国珠宝玉石首饰行业协会（以下简称“中宝协”）发起的面向全国珠宝行业进行资源整合、业务创新的互联网服务平台，旨在为珠宝产业搭建一个合作共赢、互利互惠的开放平台。
          </p>
          <p><span>2.&emsp;</span>关联方：指中宝协云平台的经营者及其他与云平台存在关联关系的公司的单称或合称。</p>
          <h3>二、 适用范围</h3>
          <p>本隐私权条款适用于云平台提供的任何服务，您访问登录云平台使用平台提供的服务时，适用本隐私权条款。</p>
          <p>
            此外，未来针对某些特定服务，我们还将制定特定隐私条款，以便更具体地说明我们在该特定服务中如何收集、处理、存储、使用、共享和保护您的信息。该特定服务的隐私条款构成本隐私条款的一部分。如相关特定服务的隐私条款与本隐私条款有不一致之处，适用该特定服务的隐私条款。
          </p>
          <p>
            本隐私权条款不适用于通过我们的服务而接入的其他第三方(“其他第方”，包括但不限于您的交易相对方、任何第三方网站以及第三方服务提供者）向您提供的服务而收集的信息，我们对前述第三方使用您个人信息的行为及后果不承担任何责任。请您注意，其他第三方可能有自己的隐私权保护条款；当您查看其他第三方创建的网页或使用其他第三方开发的应用程序时，可能会发现该网页或应用程序放置的Cookie或像素标签。这些Cookie或标签不受我们的控制，而且它们的使用不受本隐私权条款的约束。
          </p>
          <h3>三、 信息收集</h3>
          <p>
            我们收集信息是为了遵守法律法规的要求，向您提供更好以及更个性化的服务，并努力提高您的用户体验。您可以选择不提供某一或某些相关信息，但是这样可能使您无法成为我们的用户，或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。请您理解，我们使用您提供的信息是为了回应您的要求，为您享受我们提供的行业信息分享、珠宝交易等各项服务提供便利，完善我们的服务以及与您进行信息沟通。您向我们提供下述信息或使用云平台的任何服务时，即表示您同意我们按照本隐私权条款规定收集信息。我们收集信息的种类如下：
          </p>
          <p>
            <span>1.&emsp;</span>您向我们提供的信息
          </p>
          <p>
            为了遵守法律法规的要求，以及向您提供更个性化、更便捷的服务，我们需要识别您的身份，当您通过第三方平台账户注册登录云平台账户及您在使用云平台的服务时，需要您填写、提交及/或以其他任何方式提供您的个人信息，包括但不限于您的姓名、性别、出生年月日、身份证号码、电话号码及相关附加信息（如您地址中的所在省份和城市、邮政编码等）等信息。在您主动注销账号时，我们将根据适用法律法规的要求尽快使其匿名或删除您的个人信息。您在云平台发布信息内容过程中所提交的任何文字、照片、视频等各种形式的信息，也可能会包含或者关联到您的个人信息。
          </p>
          <p>
            请您注意，当您通过第三方平台账户登录云平台时，我们将从中获取您授权共享的账户信息（头像、昵称等），并在您同意本隐私政策后将您的第三方平台账户与您的云平台账户绑定，使您可以通过第三方平台账户直接登录并使用我们的产品与/或服务。我们会将依据与第三方平台的约定、对个人信息来源的合法性进行确认后，在符合相关法律和法规规定的前提下，使用您的这些个人信息。
          </p>
          <p>您可以通过云平台为其他人订购服务，您需要提供该实际订购人的前述个人信息。向云平台提供该实际订购人的前述个人信息之前，您需确保您已经取得其授权同意。</p>

          <p><span>2.&emsp;</span>我们在您使用服务过程中获得的信息</p>
          <p>为了提高服务质量和用户体验，我们会留存您使用服务以及相关使用方式的信息，这类信息包括以下内容：</p>
          <p>
            （1）您的浏览器和计算机上的日志信息。在您使用云平台服务，或访问云平台网页时，我们的系统自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据。
          </p>
          <p>（2）您的位置信息。当您开启设备定位功能，下载或使用我们开发的应用程序，或访问移动网页使用我们的服务时，我们可能会读取您的位置（大多数移动设备将允许您关闭定位服务，具体方法建议您联系您的移动设备的服务商或生产商）。
          </p>
          <p>
            （3）您的设备信息。如您下载或使用云平台或其关联公司客户端软件，或访问移动网页使用云平台服务时，我们可能会读取您访问我们或使用我们服务时所使用的终端设备的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等。
          </p>
          <p>
            （4）您的行为、风格和喜好信息。为满足您的服务要求，和向您提供更加个性化的服务，我们可能会记录您访问我们或使用我们服务时所进行的搜索和其他操作、记录您的收藏/爱好等信息。
          </p>
          <p>
            （5）除上述信息外，我们还可能为了提供服务及改进服务质量的合理需要而收集您的其他信息，包括您与我们的客户服务团队联系时所提供的相关信息，您参与问卷调查时向我们发送的问卷答复信息，以及您与云平台的关联方、云平台合作伙伴之间互动时我们获得的相关信息。同时，为提高您使用云平台提供的服务的安全性，更准确地预防钓鱼网站欺诈和木马病毒，我们可能会通过了解一些您的网络使用习惯、您常用的软件信息等手段来判断您账户的风险，并可能会记录一些我们认为有风险的链接（“URL”）。
          </p>
          <p>
            请您理解，单独的设备信息、日志信息等是无法识别特定自然人身份的信息。如果我们将这类非个人信息与其他信息结合用于识别特定自然人身份，或者将其与个人信息结合使用，则在结合使用期间，这类非个人信息将被视为个人信息，除取得您授权或法律法规另有规定外，我们会将该类个人信息做匿名化、去标识化处理，请您了解并同意，在此情况下我们有权使用已经去标识化的信息；并在不透露您个人信息的前提下，我们有权对用户数据库进行分析并予以商业化的利用。
          </p>

          <p>
            <span>3.&emsp;</span>我们通过间接获得方式获得的您的个人信息
          </p>
          <p>
            为了保证您服务的体验，包括交易、物流等第三方平台服务。，我们会将您与服务相关的个人信息共享给提供服务给您的第三方平台。
          </p>

          <p>
            <span>4.&emsp;</span>为您提供安全保障而获得的您的个人信息
          </p>
          <p>
            请注意，为确保用户身份真实性、向您提供更好的安全保障，您可以向我们提供身份信息（身份证、军官证、护照、驾驶证、社保卡、居住证等身份信息）、面部特征等生物识别信息、第三方个人征信等个人敏感信息完成实名或者信用认证。如您拒绝提供上述信息，可能无法使用账户管理继续可能存在风险的交易等服务，但不会影响您使用信息浏览、搜索等服务。
          </p>
          <p>
            为了给您提供更好、更优、更加个性化、更具安全性的服务，保护您或其他用户或公众的人身财产安全免遭侵害，更好地预防钓鱼网站、欺诈、网络漏洞、计算机病毒、网络攻击、网络侵入等安全风险，更准确地识别违反法律法规或云平台相关协议规则的情况，我们可能使用或整合您的用户信息、交易信息、设备信息、有关网络日志以及云平台的关联方、合作伙伴及其他独立第三方来源依据法律的规定或征得您授权同意的前提下，向云平台分享您的个人信息，来综合判断您账户及交易风险、进行身份验证、检测及防范安全事件，并依法采取必要的记录、审计、分析、处置措施。
          </p>

          <p>
            <span>5.&emsp;</span>征得授权同意的例外
          </p>
          <p>
            根据相关法律法规规定，以下情形中收集您的个人信息无需征得您的授权同意：
          </p>
          <p>（1）与国家安全、国防安全有关的；</p>
          <p>（2）与公共安全、公共卫生、重大公共利益有关的；</p>
          <p>（3）与犯罪侦查、起诉、审判和判决执行等有关的；</p>
          <p>（4）出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
          <p>（5）所收集的个人信息是您自行向社会公众公开的；</p>
          <p>（6）从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
          <p>（7）根据您的要求签订合同所必需的；</p>
          <p>（8）用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</p>
          <p>（9）为合法的新闻报道所必需的；</p>
          <p>（10）学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
          <p>（11）法律法规规定的其他情形。</p>
          <p>
            请您注意，您在使用我们的产品与/或服务时所提供的所有个人信息，除非您删除或通过系统设置拒绝我们收集，否则将在您使用我们的产品与/或服务期间持续授权我们使用。在您注销账号时，我们将停止使用并删除您的个人信息。如我们停止运营云平台产品或服务，我们将及时停止继续收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，对所持有的个人信息进行删除或匿名化处理。
          </p>
          <p>
            您知悉并认可：云平台可能会与第三方合作向用户提供相关的网络服务，在此情况下，如云平台旗下相应主体已与该第三方签署了适当的保密条款，则云平台有权将用户的注册信息等资料共享给该第三方，并要求该第三方按照我们的隐私权条款以及其他任何相关的保密和安全措施来为我们处理上述信息。另外，在不透露单个用户隐私资料的前提下，云平台有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。云平台可能会对网络服务使用情况进行统计。同时，云平台可能会与公众分享这些统计信息，以展示我们服务的整体使用趋势。但这些统计信息不包含您的任何身份识别信息。
          </p>

          <h3>四、 信息使用的目的和方式</h3>
          <p>为向您提供服务、提升我们的服务质量以及优化您的服务体验，我们会在符合法律规定或根据您授权的情况下使用您的个人信息，并主要用于下列用途：</p>
          <div>
            <p>1.向您提供您使用的各项服务，并维护、改进这些服务。</p>
            <p>2.我们可能使用您提供的个人信息中的联系方式与您通信，例如通知您有关您的账户、安全性更新、产品和服务信息。 为了更好的为您提供服务，请您及时查看云平台发送的相关信息。</p>
            <p>
              3.向您推荐您可能感兴趣的内容，包括但不限于向您发出产品和服务信息，或通过系统向您展示个性化的第三方推广信息，或者根据本隐私权条款与云平台的合作伙伴共享信息以便他们向您发送有关其产品和服务的信息。如果您不希望接收上述信息，可通过相应的退订功能进行退订。
            </p>
            <p>4.我们可能使用您的个人信息以验证身份，预防、发现、调查欺诈、危害安全、非法或违反与我们或其关联方协议、政策或规则的行为，以保护您、其他我们用户，或我们或其关联方的合法权益。</p>
            <p>5.我们可能会将来自某项服务的个人信息、交易信息与来自其他服务所获得的信息结合起来，进行综合统计、分析或加工等处理，用于为了给您提供更加个性化的服务使用，例如让您拥有更广泛的社交圈的需要而使用、共享或披露。
            </p>
            <p>6.我们会对我们的服务使用情况进行统计，并可能会与公众或第三方分享这些统计信息，以展示我们的产品或服务的整体使用趋势。但这些统计信息不包含您的任何身份识别信息。</p>
            <p>7.让您参与有关我们产品及服务的调查。</p>
            <p>8.经您同意或授权的其他用途。</p>
          </div>
          <h3>五、 信息共享</h3>
          <p>
            您的个人信息是我们为您提供服务的重要部分，我们会遵循法律规定对您的信息承担保密义务。 除以下情形外，我们不会将您的个人信息披露给第三方：
          </p>
          <div>
            <p>1. 事先获得您或您的监护人的同意或授权；</p>
            <p>2. 为免除您在生命、身体或财产方面的紧急危险；</p>
            <p>3. 根据法律法规的规定或行政、司法机构的要求；</p>
            <p>4. 出于实现“我们对您个人信息的使用”部分所述目的，或为履行我们本隐私权条款中的义务和行使我们的权利，向云平台的关联方分享您的信息；</p>
            <p>5. 向合作伙伴提供您的信息，前提是云平台旗下相应主体已与该第三方签署了适当的保密条款；</p>
            <p>6. 我们与第三方进行联合营销活动，我们可能与其共享活动过程中产生的、为完成活动所必要的个人信息，如参加活动的用户数、中奖名单、中奖人联系方式等，以便第三方能及时向您发放奖品；</p>
            <p>7. 以学术研究或公共利益为目的，且无害于您的重大利益；</p>
            <p>8. 如果您因知识产权被投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</p>
            <p>9.
              只有共享您的信息，才能提供您需要的服务，或处理您与他人的纠纷或争议。例如您在云平台中创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，云平台会视情况向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决；
            </p>
            <p>10.
              根据法律规定及合理商业习惯，在我们计划与其他公司合并或被其收购或进行其他资本市场活动（包括但不限于IPO，债券发行）时，以及其他情形下我们需要接受来自其他主体的尽职调查时，我们会把您的信息提供给必要的主体，但我们会通过和这些主体签署保密协议等方式要求其对您的个人信息采取合理的保密措施；
            </p>
            <p>11. 您通过点击相关产品的相应按键同意向第三方提交个人信息；</p>
            <p>12. 如您出现违反中国有关法律、法规或者违反您与我们签署的相关协议（包括在线签署的电子协议）及相关规则时，需要向第三方披露；</p>
            <p>13. 为维护云平台及其关联方或用户的合法权益；</p>
            <p>
              因此，请您谨慎考虑通过我们的服务上传、发布和交流的信息内容。在一些情况下，您可通过我们某些服务的隐私设定来控制有权浏览您共享信息的用户范围。如要求从我们的服务中删除您的相关信息，请通过该等特别服务条款提供的方式操作。
            </p>
          </div>
          <h3>六、 信息存储</h3>
          <p>
            云平台收集的有关您的信息和资料将保存在云平台及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或云平台收集信息和资料所在地并在该地被访问、存储和展示。我们将在实现本隐私条款中所述目的所必需的期间内保留您的个人信息，除非法律要求或允许在更长的期间内保留这些信息。
          </p>
          <h3>七、 您的个人信息的查询及变更</h3>
          <p>1.
            无论您何时使用我们的服务，我们都会力求让您顺利访问自己的个人信息。如果这些信息有误，我们会努力提供各种方式来让您快速更新信息或删除信息（除非我们出于合法业务或法律方面的原因而必须保留这些信息）。如果您认为云平台存在违反法律、行政法规的规定或者与您的约定收集、使用您个人信息的，您可以通过云平台客服渠道与我们取得联系。
          </p>
          <p>2.
            您可以自行登录您的账户对您的个人信息进行查询及更新。您也可以通过删除信息、关闭设备功能等方式改变您授权我们继续收集个人信息的范围或撤回您的授权；或通过注销账户的方式，撤回我们继续收集您个人信息的全部授权。当您在我们的产品中直接申请注销账户时，关于您注销账户的方式以及您应满足的条件，请详见《中宝协云账户注销须知》您注销账户后，我们将停止为您提供产品与/或服务，并根据您的要求，除法律法规另有规定外，我们将删除您的个人信息。
          </p>
          <p>3.
            当您请求云平台协助更新/删除您的个人信息时，我们可能会先要求您验证自己的身份，然后再处理您的请求。对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如需要开发新系统或从根本上改变现行惯例）、给他人隐私权带来风险或者非常不切实际（例如涉及备份磁带上存放的信息）的请求，我们可能会予以拒绝。在以下情形中，按照法律法规要求，我们将无法响应您的请求：
          </p>
          <div>
            <p>（1）与国家安全、国防安全有关的；</p>
            <p>（2）与公共安全、公共卫生、重大公共利益有关的；</p>
            <p>（3）与犯罪侦查、起诉、审判和执行判决等有关的；</p>
            <p>（4）有充分证据表明个人信息主体存在主观恶意或滥用权利的；</p>
            <p>（5）响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的；</p>
            <p>（6）涉及商业秘密的。</p>
          </div>
          <h3>八、 您的个人信息保护</h3>
          <p>1.
            我们会采取合理可行的措施，尽力避免收集无关的个人信息。我们仅在本隐私条款所述目的所必需的期间和法律法规要求的时限内保留您的个人信息。为保障您的信息安全，我们努力采取各种合理的物理、电子和管理方面的安全措施来保护您的信息，使您的信息不会被泄漏、毁损或者丢失，包括但不限于SSL、通过https等方式提供浏览服务、信息加密存储、数据中心的访问控制等。我们对可能接触到您的信息的员工或外包人员也采取了严格管理，包括但不限于根据岗位的不同采取不同的权限控制，与他们签署保密协议，监控他们的操作情况等措施。云平台会按现有技术提供相应的安全措施来保护您的信息，提供合理的安全保障，云平台将尽力做到使您的信息不被泄漏、毁损或丢失。
          </p>
          <p>2.
            您的账户均有安全保护功能，请妥善保管您的微信账户、手机号及验证码信息。云平台将通过向其它服务器备份等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您理解，由于技术的限制以及可能存在的各种恶意手段，即便竭尽所能加强安全措施，在信息网络上也不存在“完善的安全措施”。我们强烈建议您不要使用非云平台推荐的通信方式发送个人信息。如因您自己的原因导致账户、手机号码及验证码信息泄露而造成的任何法律后果需由您本人负责。
          </p>
          <p>3.
            在使用云平台进行网上交易时，如您不可避免地要向交易对方或潜在的交易对方披露自己的个人信息（例如联系人、联络方式等），请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息已经被泄露或者存在被泄露的可能，且有可能会危及您注册登录获得的云平台账户安全，或者给您造成其他的损失的，请您务必在第一时间通知云平台客服，以便云平台采取相应措施维护您的云平台账户安全，防止损失的发生或者进一步扩大。为避免疑义，如果您未在第一时间通知云平台客服，则您应自行承担由此给您造成的损失（及扩大的损失）。
          </p>
          <p>4. 请注意，您在使用我们服务时自愿共享甚至公开分享的信息，可能会涉及您或他人的个人信息甚至个人敏感信息，如您在评价时选择上传包含个人信息的图片。请您更加谨慎地考虑，是否在使用我们的服务时共享甚至公开分享相关信息。
          </p>
          <p>5.
            如果我们的物理、技术或管理防护设施遭到破坏，导致信息被非授权访问、公开披露、篡改或毁坏，导致您的合法权益受损，我们将承担相应的法律责任。在不幸发生个人信息安全事件后，我们将按照法律法规的要求向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。事件相关情况我们将以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。同时，我们还将按照监管部门要求，上报个人信息安全事件的处置情况。
          </p>
          <h3>九、 未成年人保护</h3>
          <p>
            未满十八岁的未成年人应在其父母或监护人指导下使用我们的服务，如果没有父母或监护人的同意，未成年人不得创建自己的用户账户。如您为未成年人的，我们建议您的父母或监护人仔细阅读本隐私权条款并在提交的个人信息之前寻求您的父母或监护人的同意和指导，未成年人一旦使用本网站，我们视为有未成年人父母或监护人的同意或指导。
          </p>
          <h3>十、 其他</h3>
          <p>1.
            您应理解按本协议约定使用云平台，按规范使用许可软件、按本协议约定履行义务是您获取云平台授权使用软件、提供云平台各版块服务的前提，如您严重违反本协议，云平台将终止提供服务，本协议终止。在本使用许可终止时，您应停止对许可软件的使用行为,
            并销毁许可软件的全部副本。您在协议终止前的行为所导致的任何责任，您应完全且独立地承担。</p>
          <p>2. 如您对本隐私权条款有任何疑问或您提供的上述个人信息受到了侵扰，您可以通过云平台客服中心与我们联系，我们将在接到投诉后尽快给予您答复。</p>
          <p>3.
            为给您提供更好的服务，我们的业务将不时变化，本隐私条款也将随之调整。我们会通过在我们移动应用软件上挂出更新版本或以其他方式提醒您相关内容的更新，也请您访问我们以便及时了解最新的隐私条款。在前述情况下，若您仍继续使用云平台提供的服务，即表示您同意受经修订本隐私权条款的约束。我们鼓励您定期地查阅本网页上关于我们隐私实践的最新信息。
          </p>
          <p>4. 云平台将致力于保障您个人信息的私密性和安全性，并让您能够自主控制。</p>
          <p>5.
            您可以通过云平台客服渠道与我们联系，我们将在收到您的请求后的合理时间内给您回复。如果您对我们的回复不满意，特别是您认为我们的个人信息处理行为损害了您的合法权益，您还可以通过向被告住所地有管辖权的法院提起诉讼来寻求解决方案。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>