<%- include ../headerbar.ejs %>

<%- include ../headerNav.ejs %>

<div id="pageBuilding" class="page-building">
  <div class="container tc">
    <h4 class="page-title">建设中.......</h4>
    <img src="../../src/img/user/building.png" width="554" />
    <p>为了您及时的了解平台动态，请关注中宝平微信公众号或下载中宝平APP。</p>
    <div class="download clearfix">
      <div class="fl">
        <div class="img-container">
          <img src="../../src/img/common/wechat-qrcode.jpg" />
        </div>
        <p>扫码关注公众号</p>
      </div>
      <div class="fr">
        <div class="img-container">
          <img src="../../src/img/common/download-app.png" style="padding: 8px;" class="downloadAppImg" />
        </div>
        <p>下载APP</p>
      </div>

    </div>
  </div>
</div>

<%- include ../footer.ejs %>

<style>
  .page-building {
    padding-bottom: 97px;
    font-size: 16px;
  }

  .page-building p {
    margin-top: -16px;
  }

  .page-title {
    padding: 76px 0 35px;
    color: #DD582B;
    font-size: 24px;
  }

  .download {
    margin: 0 auto;
    width: 554px;
  }

  .img-container {
    margin: 30px;
    width: 202px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }

  .img-container img {
    width: 100%;
  }
</style>