<style>
	.protocol .dialog-title {
		text-align: center;
		font-size: 20px;
	}

	.protocol .dialog-main {
		width: 644px;
		height: 558px;
		margin-left: -322px;
		margin-top: -279px;
	}

	.protocol .dialog-body {
		bottom: 0;
		line-height: 26px;
		padding-bottom: 20px;
	}

	.protocol .dialog-body>div {
		padding: 0 35px;
		font-size: 14px;
		position: relative;
		overflow-y: scroll;
	}

	.protocol .dialog-body>div::-webkit-scrollbar {
		display: none;
	}
</style>
<div class="dialog protocol" id="protocol">
	<div class="mask"></div>
	<div class="dialog-main">
		<div class="dialog-header clearfix">
			<a class="fr dialog-close"><i class="icon icon-close"></i></a>
			<h3 class="dialog-title">TN自由划付业务合作协议（三方协议）</h3>
		</div>
		<div class="dialog-body">
			<div>
				<p><img src="../src/img/system/protocol01.jpg" /></p>
				<p><img src="../src/img/system/protocol02.jpg" /></p>
				<p><img src="../src/img/system/protocol03.jpg" /></p>
				<p><img src="../src/img/system/protocol04.jpg" /></p>
				<p><img src="../src/img/system/protocol05.jpg" /></p>
				<p><img src="../src/img/system/protocol06.jpg" /></p>
				<p><img src="../src/img/system/protocol07.jpg" /></p>
				<p><img src="../src/img/system/protocol08.jpg" /></p>
			</div>
		</div>
	</div>
</div>