<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<meta name="description" content="">
<meta name="keywords" content="">
<title><%= title %></title>
<link rel="shortcut icon" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../dist/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css"/>
<link rel="stylesheet" type="text/css" href="../../dist/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css"/>
<script src="../../dist/js/template.js"></script>
<script src="../../dist/js/lib.js"></script>
<script src="../../dist/js/v.js"></script>
</head>
<body class="reg-bd">
	
	<%- include loginHeader %>
	
	<div class="main">
		<div class="container">
			
			<div class="regSuccessPanel">
				<div>
					<i class="icon icon-success"></i>
					<p>注册成功，即将跳转首页<span class="red">3</span>秒</p>
					<a class="btn btn-danger">立即跳转</a>
				</div>
			</div>
			
		</div>
	</div>
	
	
<script>
var i = 3;
var timer = setInterval(function(){
	i--;
	$(".regSuccessPanel span").text(i);
	if(i == 0){
		window.clearInterval(timer);
		window.location.href = "../user/acc_info";
	}
}, 1000);

$(".btn-danger").on("click", function(){
	window.location.href = "../user/acc_info";
})

</script>

</body>
</html>

