[class*="ico-"] { background: url(~/assets/images/sprite.png) no-repeat; background-size: 576px 281px;  display:inline-block;vertical-align:middle;}
.ico-address { width: 31px; height: 31px; background-position: -432px -93px; }
.ico-address2 { width: 27px; height: 27px; background-position: -100px -133px; }
.ico-aftersale { width: 19px; height: 21px; background-position: -307px -199px; }
.ico-alipay { width: 26px; height: 26px; background-position: -32px -167px; }
.ico-auction { width: 34px; height: 34px; background-position: -121px -93px; }
.ico-auction2 { width: 27px; height: 27px; background-position: -301px -133px; }
.ico-back-goods { width: 31px; height: 31px; background-position: -395px -93px; }
.ico-back-white { width: 10px; height: 17px; background-position: -36px -259px; }
.ico-back { width: 22px; height: 22px; background-position: -86px -199px; }
.ico-back2 { width: 10px; height: 18px; background-position: -19px -259px; }
.ico-bao { width: 29px; height: 29px; background-position: -470px -93px; }
.ico-bg_address { width: 376px; height: 6px; background-position: -201px 0px; }
.ico-browse { width: 16px; height: 17px; background-position: -316px -167px; }
.ico-business { width: 13px; height: 13px; background-position: -355px -229px; }
.ico-cart { width: 22px; height: 22px; background-position: -29px -199px; }
.ico-change { width: 27px; height: 27px; background-position: -67px -133px; }
.ico-classify_select { width: 18px; height: 18px; background-position: -148px -229px; }
.ico-classify_unselect { width: 18px; height: 18px; background-position: -460px -199px; }
.ico-classify { width: 18px; height: 18px; background-position: -534px -199px; }
.ico-close { width: 19px; height: 19px; background-position: -435px -199px; }
.ico-collect { width: 19px; height: 17px; background-position: -197px -167px; }
.ico-collection { width: 16px; height: 16px; background-position: -338px -167px; }
.ico-comment_business { width: 16px; height: 16px; background-position: -496px -167px; }
.ico-comment-24 { width: 12px; height: 11px; background-position: -403px -58px; }
.ico-comment-white { width: 16px; height: 14px; background-position: -561px -167px; }
.ico-comment { width: 26px; height: 26px; background-position: 0px -167px; }
.ico-design { width: 27px; height: 27px; background-position: -33px -133px; }
.ico-designOrder { width: 32px; height: 32px; background-position: -280px -93px; }
.ico-down-select { width: 8px; height: 8px; background-position: -567px -148px; }
.ico-down { width: 8px; height: 8px; background-position: -567px -133px; }
.ico-down2 { width: 8px; height: 6px; background-position: -492px -58px; }
.ico-download { width: 26px; height: 26px; background-position: -65px -167px; }
.ico-edit-32 { width: 17px; height: 17px; background-position: -269px -167px; }
.ico-edit-white { width: 17px; height: 17px; background-position: -245px -167px; }
.ico-edit { width: 21px; height: 21px; background-position: -197px -199px; }
.ico-exchange { width: 34px; height: 34px; background-position: 0px -93px; }
.ico-exchange2 { width: 27px; height: 27px; background-position: -368px -133px; }
.ico-finance { width: 27px; height: 27px; background-position: -402px -133px; }
.ico-focus { width: 19px; height: 17px; background-position: -171px -167px; }
.ico-good { width: 21px; height: 21px; background-position: -280px -199px; }
.ico-home_hover { width: 18px; height: 18px; background-position: -172px -229px; }
.ico-home_select { width: 18px; height: 18px; background-position: -221px -229px; }
.ico-home_unselect { width: 18px; height: 18px; background-position: -123px -229px; }
.ico-home { width: 20px; height: 19px; background-position: -358px -199px; }
.ico-hot { width: 17px; height: 17px; background-position: -222px -167px; }
.ico-icon_ collect@2x { width: 36px; height: 33px; background-position: -509px -12px; }
.ico-icon_ share@2x { width: 61px; height: 61px; background-position: -201px -12px; }
.ico-icon_back@2x { width: 61px; height: 61px; background-position: -268px -12px; }
.ico-icon_eye { width: 13px; height: 11px; background-position: -383px -58px; }
.ico-icon_home@2x { width: 38px; height: 37px; background-position: -381px -12px; }
.ico-icon_like { width: 11px; height: 11px; background-position: -483px -229px; }
.ico-icon_service@2x { width: 39px; height: 39px; background-position: -336px -12px; }
.ico-jewelry_price_scan { width: 17px; height: 16px; background-position: -336px -58px; }
.ico-jewelry { width: 27px; height: 27px; background-position: -201px -133px; }
.ico-jewelryOrder { width: 32px; height: 32px; background-position: -242px -93px; }
.ico-law { width: 27px; height: 27px; background-position: -134px -133px; }
.ico-like-24 { width: 12px; height: 11px; background-position: -447px -229px; }
.ico-like-select { width: 26px; height: 26px; background-position: -97px -167px; }
.ico-like-white { width: 14px; height: 14px; background-position: -315px -229px; }
.ico-like { width: 26px; height: 26px; background-position: -502px -133px; }
.ico-like2 { width: 17px; height: 17px; background-position: -292px -167px; }
.ico-liked-24 { width: 12px; height: 11px; background-position: -465px -229px; }
.ico-location { width: 16px; height: 16px; background-position: -473px -167px; }
.ico-location2 { width: 14px; height: 17px; background-position: -295px -229px; }
.ico-logistics { width: 27px; height: 27px; background-position: -167px -133px; }
.ico-logo { width: 21px; height: 21px; background-position: -170px -199px; }
.ico-make { width: 27px; height: 27px; background-position: 0px -133px; }
.ico-makerOrder { width: 32px; height: 32px; background-position: -319px -93px; }
.ico-marketing { width: 27px; height: 27px; background-position: -505px -93px; }
.ico-merchant { width: 19px; height: 21px; background-position: -333px -199px; }
.ico-message { width: 16px; height: 16px; background-position: -406px -167px; }
.ico-mine { width: 18px; height: 18px; background-position: -558px -199px; }
.ico-my_select { width: 18px; height: 18px; background-position: -25px -229px; }
.ico-my_unselect { width: 18px; height: 18px; background-position: -50px -229px; }
.ico-mylocation { width: 19px; height: 24px; background-position: 0px -229px; }
.ico-myservice { width: 21px; height: 21px; background-position: -252px -199px; }
.ico-negative_comment { width: 21px; height: 21px; background-position: -225px -199px; }
.ico-new2 { width: 7px; height: 6px; background-position: -201px -80px; }
.ico-new3 { width: 7px; height: 6px; background-position: -214px -80px; }
.ico-new4 { width: 9px; height: 6px; background-position: -476px -58px; }
.ico-news { width: 19px; height: 19px; background-position: -410px -199px; }
.ico-order_service { width: 23px; height: 24px; background-position: 0px -199px; }
.ico-order { width: 16px; height: 16px; background-position: -383px -167px; }
.ico-password { width: 18px; height: 18px; background-position: -197px -229px; }
.ico-payFail { width: 94px; height: 87px; background-position: 0px 0px; }
.ico-paySuccess { width: 94px; height: 87px; background-position: -100px 0px; }
.ico-phone { width: 18px; height: 18px; background-position: -509px -199px; }
.ico-phoneSuccess { width: 33px; height: 33px; background-position: -202px -93px; }
.ico-picture { width: 13px; height: 13px; background-position: -375px -229px; }
.ico-praise { width: 10px; height: 10px; background-position: -441px -58px; }
.ico-proclamation { width: 35px; height: 17px; background-position: -130px -167px; }
.ico-pulldown { width: 12px; height: 7px; background-position: -458px -58px; }
.ico-recovery { width: 34px; height: 34px; background-position: -81px -93px; }
.ico-recovery2 { width: 27px; height: 27px; background-position: -268px -133px; }
.ico-review { width: 21px; height: 21px; background-position: -142px -199px; }
.ico-safety { width: 27px; height: 27px; background-position: -234px -133px; }
.ico-sale { width: 34px; height: 34px; background-position: -40px -93px; }
.ico-sale2 { width: 27px; height: 27px; background-position: -539px -93px; }
.ico-scan { width: 22px; height: 22px; background-position: -114px -199px; }
.ico-screen { width: 14px; height: 14px; background-position: -335px -229px; }
.ico-search-30 { width: 16px; height: 16px; background-position: -451px -167px; }
.ico-search { width: 16px; height: 16px; background-position: -428px -167px; }
.ico-sector_left { width: 11px; height: 13px; background-position: -394px -229px; }
.ico-sector_left2 { width: 11px; height: 13px; background-position: -412px -229px; }
.ico-sector_right { width: 11px; height: 13px; background-position: -429px -229px; }
.ico-service { width: 27px; height: 27px; background-position: -469px -133px; }
.ico-set { width: 27px; height: 27px; background-position: -435px -133px; }
.ico-settings { width: 16px; height: 16px; background-position: -361px -167px; }
.ico-share-circle { width: 18px; height: 18px; background-position: -246px -229px; }
.ico-share-good { width: 31px; height: 31px; background-position: -357px -93px; }
.ico-share-goods { width: 18px; height: 18px; background-position: -270px -229px; }
.ico-share-white { width: 15px; height: 15px; background-position: -540px -167px; }
.ico-share { width: 22px; height: 22px; background-position: -57px -199px; }
.ico-shop_select { width: 18px; height: 18px; background-position: -99px -229px; }
.ico-shop_unselect { width: 18px; height: 18px; background-position: -74px -229px; }
.ico-shop { width: 19px; height: 19px; background-position: -384px -199px; }
.ico-shop2 { width: 27px; height: 27px; background-position: -335px -133px; }
.ico-shopping_cart { width: 18px; height: 18px; background-position: -485px -199px; }
.ico-source_select { width: 35px; height: 35px; background-position: -467px -12px; }
.ico-source_unselect { width: 35px; height: 35px; background-position: -426px -12px; }
.ico-source { width: 24px; height: 24px; background-position: -551px -12px; }
.ico-up { width: 8px; height: 6px; background-position: -506px -58px; }
.ico-user { width: 15px; height: 15px; background-position: -518px -167px; }
.ico-view-24 { width: 14px; height: 10px; background-position: -421px -58px; }
.ico-view-white { width: 18px; height: 13px; background-position: -359px -58px; }
.ico-wait_time { width: 34px; height: 34px; background-position: -162px -93px; }
.ico-wechat { width: 26px; height: 26px; background-position: -535px -133px; }
.ico-发货icon@2x { width: 13px; height: 22px; background-position: 0px -259px; }