<div id="header" class="header hide">
	<div class="container">
		<div class="headerInfo">
			<div>
				<div class="logoWrap">
					<a class="fl" href="../../../">
						<i class="icon icon-logo"></i>
					</a>
				</div>
				<div>
					<div class="searchWrap">
						<div class="searchBar">
							<input type="text" placeholder="商品名称">
							<span>
								<i class="icon icon-search"></i>
							</span>
						</div>
					</div>
				</div>
				<div>
					<i class="icon icon-header fr"></i>
				</div>
			</div>
		</div>
		
	</div>
</div>
<script>
$(function(){
	
})
</script>