:root {
  --bg: #f2f2f2;
  --light-gray: #f2f2f2;
  --black: #333333;
  --light-black: #666666;
  --dark-gray: #999999;
  --gray: #aaaaaa;
  --theme: #df735a;
  --red: #fb746e;
  --pink: #f4b1a4;
  --brown: #d2a459;
  --light-brown: #e8cb9b;
  --gray-d: #dddddd;
  --gray-c: #cccccc;
  --blue: #2d69c3;
  --green: #2dc34d;
  --border-color: #e5e5e5;
  --white: #ffffff;
}
