:root {
  /*--gray: #ccc;
  --dark-gray: #999;
  --light-gray: #f8f8f8;
  --black: #333;
  --brown: #c2a374;
  --red: #ff0000;
  --blue: #3d7fe1;*/
  --gray: #aaaaab;
  --dark-gray: #585859;
  --light-gray: #f2f2f2;
  --black: #333333;
  --brown: #c2a374;
  --red: #fb746e;
  --theme: #df735a;
  --blue: #3d7fe1;
  --bg: #f2f2f2;
  --border-color: #e9ebf1;
}
