<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
		<meta name=renderer content=webkit>
		<meta name=author content=Avanmemety/>
		<meta name=apple-mobile-web-app-capable content=yes/>
		<meta name=apple-mobile-web-app-status-bar-style content=blank/>
		<meta name=format-detection content="telephone=no" />
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="description" content="中宝协云平台直播间是直播最新珠宝资讯，分享更多珠宝品质生活，大师干货分享。集合众多直播商家，海量新品，经济实惠、品质保证的直播网站，主要提供珠宝直播，玉石直播、专家在线咨询等。">
		<meta name="keywords" content="珠宝直播、买珠宝、珠宝竞拍、买珠宝就直播、经济实惠、珠宝源头、首饰拍卖、首饰抢购">
		<title>珠宝直播_发现你的珠宝生活</title>
		<link rel="stylesheet/less" type="text/css" href="../zbxpc/less/index.less" />
		<script src="http://wap.hongdoujiao.com/CDN/less.min.js"></script>

		<link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
		<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
		<script src="../../dist/js/template.js"></script>
		<script src="../../dist/js/lib.js"></script>
		<script src="../../dist/js/v.js"></script>
		<style type="text/css">
			.jewelryBox-bd{
				background: #f8f8f8;
			}
		</style>
		<!--[if lt IE 9]>
    <script src="http://wap.hongdoujiao.com/CDN/html5shiv.min.js"></script>
    <script src="http://wap.hongdoujiao.com/CDN/respond.min.js"></script>
    <script src="http://wap.hongdoujiao.com/CDN/html5media.min.js"></script>
    <![endif]-->
	</head>

	<body class="jewelryBox-bd">
		<%- include ../headerbar %>

		<%- include ../header %>

		<%- include ../headerNav %>
		<div class="living-index">
			<img src="../zbxpc/image/banner.jpg" alt="" id="topBanner">
			<div class="nav">
				<div class="item">
					<img src="../zbxpc/image/changshi.png" alt="">
					<div class="content">
						<p class="title"><img src="../zbxpc/image/zs.png" alt="">新奇看点</p>
						<p class="desc">及时掌握最新政策方向</p>
					</div>
				</div>
				<div class="item" id="routerOther">
            <div class="top">
                <img src="../zbxpc/image/paimai.png" alt="">
                <div class="ceng"></div>
                <ul class="router">
                    <li>物品拍卖</li>
                    <li>直播拍卖</li>
                </ul>
            </div>
            <div class="content">
                <p class="title"><img src="../zbxpc/image/pm.png" alt="">抢手拍卖</p>
                <p class="desc">及时掌握最新政策方向</p>

            </div>
        </div>
				<div class="item">
					<img src="../zbxpc/image/zhubo.png" alt="">
					<div class="content">
						<p class="title"><img src="../zbxpc/image/hg.png" alt="">专家咨询</p>
						<p class="desc">及时掌握最新政策方向</p>
					</div>
				</div>
				<div class="item">
					<img src="../zbxpc/image/xinshang.png" alt="">
					<div class="content">
						<p class="title"><img src="../zbxpc/image/zz.png" alt="">珠宝直销</p>
						<p class="desc">及时掌握最新政策方向</p>
					</div>
				</div>
			</div>
			<div class="top">
				<div class="header" id="nav">
					<!--<div class="left"><img src="./image/living_img.png" alt=""></div>-->
					<div class="center">
					</div>
					<!--<div class="right" id="liveMore">更多 <img src="./image/right.png" alt=""></div>-->
				</div>
				<p class="title">企业直播 <span id="liveMore">更多 <img src="../zbxpc/image/right.png" alt=""></span></p>
				<div class="container">
					<div class="loading">
						<div class="load-2">
							<div class="k-line k-line6b-1"></div>
							<div class="k-line k-line6b-2"></div>
							<div class="k-line k-line6b-3"></div>
							<div class="k-line k-line6b-4"></div>
							<div class="k-line k-line6b-5"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="top">
          <div class="header" id="nav1">
              <!--<div class="left"><img src="./image/living_img.png" alt=""></div>-->
              <div class="center">
              </div>
              <!--<div class="right" id="liveMore">更多 <img src="./image/right.png" alt=""></div>-->
          </div>
          <p class="title">专家咨询 <span id="liveMore1">更多 <img src="../zbxpc/image/right.png" alt=""></span></p>
          <div class="container1">
              <div class="loading">
                  <div class="load-2">
                      <div class="k-line k-line6b-1"></div>
                      <div class="k-line k-line6b-2"></div>
                      <div class="k-line k-line6b-3"></div>
                      <div class="k-line k-line6b-4"></div>
                      <div class="k-line k-line6b-5"></div>
                  </div>
              </div>
          </div>
      </div>
			<!--<div class="bottom">-->
			<!--<div class="header">-->
			<!--<div class="left"><img src="./image/story_img.png" alt=""></div>-->
			<!--<div class="right" id="storyMore">更多 <img src="./image/right.png" alt=""></div>-->
			<!--</div>-->
			<!--<ul class="content">-->
			<!--<li>-->
			<!--<div class="top"><img src="./image/1.png" alt=""></div>-->
			<!--<div class="bottom">-->
			<!--<p class="name">图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--<p class="desc">图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--</div>-->
			<!--</li>-->
			<!--<li>-->
			<!--<div class="top"><img src="./image/1.png" alt=""></div>-->
			<!--<div class="bottom">-->
			<!--<p class="name">图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--<p class="desc">图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--</div>-->
			<!--</li>-->
			<!--<li>-->
			<!--<div class="top"><img src="./image/1.png" alt=""></div>-->
			<!--<div class="bottom">-->
			<!--<p class="name">图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--<p class="desc">图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--</div>-->
			<!--</li>-->
			<!--<li>-->
			<!--<div class="top"><img src="./image/1.png" alt=""></div>-->
			<!--<div class="bottom">-->
			<!--<p class="name">图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--<p class="desc">图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--</div>-->
			<!--</li>-->
			<!--<li>-->
			<!--<div class="top"><img src="./image/1.png" alt=""></div>-->
			<!--<div class="bottom">-->
			<!--<p class="name">图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--<p class="desc">图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--</div>-->
			<!--</li>-->
			<!--<li>-->
			<!--<div class="top"><img src="./image/1.png" alt=""></div>-->
			<!--<div class="bottom">-->
			<!--<p class="name">图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--<p class="desc">图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题图文标题</p>-->
			<!--</div>-->
			<!--</li>-->
			<!--</ul>-->
			<!--</div>-->
			<div class="toast"></div>
		</div>
		<%- include ../footer.ejs %>
		<script src="http://wap.hongdoujiao.com/CDN/jquery.min.js"></script>
		<script src="../zbxpc/js/global.js"></script>
		<script charset="utf-8" src="../zbxpc/js/liveIndex.js"></script>
	</body>

</html>