<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
		<meta name=renderer content=webkit>
		<meta name=author content=Avanmemety/>
		<meta name=apple-mobile-web-app-capable content=yes/>
		<meta name=apple-mobile-web-app-status-bar-style content=blank/>
		<meta name=format-detection content="telephone=no" />
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>珠宝常识</title>
		<link rel="stylesheet/less" type="text/css" href="../zbxpc/less/index.less" />
		<script src="http://wap.hongdoujiao.com/CDN/less.min.js"></script>

		<link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
		<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
		<script src="../../dist/js/template.js"></script>
		<script src="../../dist/js/lib.js"></script>
		<script src="../../dist/js/v.js"></script>
		<!--[if lt IE 9]>
    <script src="http://wap.hongdoujiao.com/CDN/html5shiv.min.js"></script>
    <script src="http://wap.hongdoujiao.com/CDN/respond.min.js"></script>
    <script src="http://wap.hongdoujiao.com/CDN/html5media.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<%- include ../headerbar %>

		<%- include ../header %>

		<%- include ../headerNav %>
		<div class="story-list">
			<div class="container">
				<div class="header">直播厅&nbsp;&nbsp;&nbsp;<img src="../zbxpc/image/right.png" alt="">&nbsp;&nbsp;&nbsp;珠宝常识</div>
				<ul class="content">
				</ul>
			</div>
			<div id="pagination"></div>
			<div class="toast"></div>
		</div>
		<%- include ../footer.ejs %>
		<script src="http://wap.hongdoujiao.com/CDN/jquery.min.js"></script>
		<script charset="utf-8" src="../zbxpc/js/pagination.min.js"></script>
		<script src="../zbxpc/js/global.js"></script>
		<script charset="utf-8" src="../zbxpc/js/storyList.js"></script>
	</body>

</html>