<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
		<meta name=renderer content=webkit>
		<meta name=author content=Avanmemety/>
		<meta name=apple-mobile-web-app-capable content=yes/>
		<meta name=apple-mobile-web-app-status-bar-style content=blank/>
		<meta name=format-detection content="telephone=no" />
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>珠宝常识详情</title>
		<!--[if lt IE 9]>
    <script src="http://wap.hongdoujiao.com/CDN/html5shiv.min.js"></script>
    <script src="http://wap.hongdoujiao.com/CDN/respond.min.js"></script>
    <script src="http://wap.hongdoujiao.com/CDN/html5media.min.js"></script>
    <![endif]-->
		<link rel="stylesheet/less" type="text/css" href="../zbxpc/less/index.less">
		<script src="http://wap.hongdoujiao.com/CDN/less.min.js"></script>

		<link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
		<link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
		<link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
		<script src="../../dist/js/template.js"></script>
		<script src="../../dist/js/lib.js"></script>
		<script src="../../dist/js/v.js"></script>
	</head>

	<body>
		<%- include ../headerbar %>

		<%- include ../header %>

		<%- include ../headerNav %>
		<div class="story-detail">
			<div class="header">直播厅&nbsp;&nbsp;&nbsp;<img src="../zbxpc/image/right.png" alt="">&nbsp;&nbsp;&nbsp;珠宝常识&nbsp;&nbsp;&nbsp;<img src="../zbxpc/image/right.png" alt="">&nbsp;&nbsp;&nbsp;<span></span></div>
			<div class="container">
				<p class="title"></p>
				<div class="content" id="content"></div>
        <div class="no_flash">您需要安装Flash Player后才能观看精彩直播～<br> 请您
            <a target="_blank" href="http://www.adobe.com/go/getflashplayer_cn">安装</a>后刷新本页面</div>
			</div>
		</div>
		<%- include ../footer.ejs %>
		<script src="http://wap.hongdoujiao.com/CDN/jquery.min.js"></script>
		<script src="../zbxpc/js/global.js"></script>
		<script src="http://wap.hongdoujiao.com/CDN/TcPlayer-2.2.2.js"></script>
		<script src="../zbxpc/js/storyDetail.js"></script>
	</body>

</html>