<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="中宝协云平台-中国珠宝行业垂直云平台，聚集珠宝爱好者！最新珠宝新资讯，商品涵盖钻石、黄金、彩宝、翡翠玉石、珍珠琥珀等珍贵材质、独特设计、给您精致奢华精彩呈现。！">
  <meta name="keywords"
    content="中宝协云平台、中宝云、中宝平、珠宝圈、珠宝定制、珠宝鉴定、珠宝品牌、钻石戒指、玉石闲 置、珠宝直播、珠宝拍卖、珠宝行业、珠宝证书、求婚钻戒、彩宝、珠宝商城、珠宝首饰、珠宝展、珠宝设计、珠宝市场、珠宝图片、世界珠宝、钻戒定制、首饰、珠宝店、珠宝真品、黄金/K金及首饰、银饰及首饰、天然钻石及首饰、翡翠、和田玉、彩色宝石、珍珠、水晶、琥珀、黄龙玉、绿松石、玛瑙、印章石、其他玉石及首饰、贵金属（除黄金、K金、白银）首饰 、有机宝石（除珍珠、琥珀）、培育钻石及首饰、珠宝一站式购物商城、品牌珠宝、买首饰、珠宝商城、专业珠宝、珠宝鉴定、最权威的珠宝鉴定网站、珠宝科普、钻石怎么买、什么是5G黄金、什么是千足金、翡翠鉴定、玉石变色的原因、海水珍珠怎么鉴别、爱迪生珍珠、什么是海蓝宝、什么是铂金、怎么计算钻石价格">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="bookmark" type="image/x-icon" href="http://app.gacjc.com/app/download/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_718775_m854kdemp1s.css" />
  <link rel="stylesheet" type="text/css" href="../../src/css/sprite.css" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/all.css" />
  <link rel="stylesheet" type="text/css" href="../../src/js/vue/index.css" />
  <script src="../../dist/js/template.js"></script>
  <script src="../../dist/js/lib.js"></script>
  <script src="../../dist/js/v.js"></script>
</head>
<style>
  .buy_banner {
    height: 460px;
    background: #FFFFFF;
  }

  .buy_banner img {
    width: 100%;
    height: 100%;
  }

  strong {
    font-size: 24px;
    color: #333;
  }

  .el-icon-d-arrow-right {
    font-size: 14px;
    color: #737373;
  }

  .slideritem a {
    display: block;
    height: 460px
  }

  .exchangeTitle {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .exchangeTitle strong {
    color: #1A1A1A;
    font-size: 16px;
  }

  .exchangeTitle span {
    color: #333333;
    font-size: 24px;
  }

  .exchangeTitle a {
    display: inline-block;
    line-height: 20px;
    color: #666;
    border-radius: 11px;
    text-align: center;
  }

  .subTitle {
    height: 90px;
    line-height: 90px;
    background: #FFFFFF;
  }

  .subTitle span {
    font-size: 24px;
  }

  .subTitle a {
    color: #737373;
  }

  .brandMarketers li {
    float: left;
    width: 176px;
    background-color: #fff;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
  }

  .brandMarketers li:hover .img-box {
    border: 1px solid #E0E0E0;
  }

  .containerJewelyIndex {
    width: 1210px;
    margin: 0 auto;
  }

  .containerJewelyIndex li:first-child,
  li.first {
    margin-left: 0 !important;
  }

  .brandMarketers .img-box {
    height: 162px;
    position: relative;
    background: #f9f9f9;
    overflow: hidden;
  }

  .hotSale .img-box {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .hotSale img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -113.5px;
  }

  .brandMarketers img {
    width: 100%;
    height: 100%;
  }

  .brandMarketers li .name {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border-top: 1px solid #D7D7D7;
  }

  .platformMarketers,
  .flagshipStore {
    width: 485px;
  }

  .platformMarketers .img-box,
  .flagshipStore .img-box {
    height: 162px;
    background: #FFFFFF;
  }

  .patent .content {
    height: 529px;
    padding: 30px;
    background-color: #fff;
  }

  .patent .slider-for {
    width: 100%;
    height: 321px;
  }

  .patent .slider-for .slideritem a {
    height: 321px;
    line-height: 321px;
  }

  .patent .slider-for .slideritem a img {
    display: inline-block;
  }

  .patent .slider-nav {
    padding: 10px 30px;
  }

  .patent .slider-nav .slick-slide>div {
    margin: 25px;
  }

  .patent .slider-nav .slick-current>div {
    border: 1px solid #FF0000;
  }

  .slider-brandshop .slick-slide>div {
    margin: auto;
    width: 176px;
  }

  .slider-brandshop .slick-current li {
    webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0)
  }

  .patent .slider-nav .slideritem img {
    width: 100%;
  }

  .hotSale ul {
    padding: 30px;
    background: #fff;
  }

  .hotSale li {
    float: left;
    width: 227px;
    height: 315px;
    margin-left: 8px;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
  }

  .hotSale li .img-box {
    height: 100%;
    position: relative;
  }

  .hotSale li .intro {
    color: #fff;
    line-height: 16px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 82px;
    width: 100px;
    margin: 0 auto;
  }

  .todayNew ul {
    text-align: center;
  }

  .todayNew ul li {
    width: 288px;
    height: 435px;
    margin-left: 16px;
    background-color: #fff;
    float: left;
    position: relative;
    margin-top: 10px;
    transition: all 0.25s ease;
  }

  .todayNew ul li .img-box {
    height: 288px;
  }

  .todayNew ul li .addCar {
    height: 50px;
    line-height: 50px;
    background-color: #FF0000;
    color: #fff;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .todayNew ul li:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1px -3px 10px 4px #cec0c0ad;
  }

  .hotStyle {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .brandJewelry {
    width: 320px;
    height: 401px;
    border-left: 20px solid #F5F5F5;
    padding: 23px 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    background: #FFFFFF;
  }

  .brandJewelry>a {
    display: inline-block;
    width: 100px;
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
  }

  .brandJewelry>a:nth-child(odd) {
    margin-right: 30px;
  }

  .brandJewelry p {
    line-height: 16px;
    font-size: 12px;
    color: #333;
    border-top: 1px solid #D9D9D9;
  }

  /* hx-2019-11-8 */
  .gallerybtgTransparent {
    background: #000000;
    height: 100%;
    opacity: 0.9;
    z-index: 998;
    position: absolute;
    width: 100%;
  }

  .catname {
    float: left;
    margin-left: 10px;
    width: 96px;
  }

  .linehide {
    display: none;
  }

  .galleryNav h3 {
    font-size: 13px;
    color: #ddd;
    position: relative;
    width: 150px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .subThreesecond {
    font-weight: bold;
  }

  .rightarrowsub {
    background: url(/src/img/hx_img/rightarrow.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    display: block;

  }

  .tip {
    width: 100%;
  }

  .marquee {
    width: 100%;
    height: 50px;
    align-items: center;
    color: #3A3A3A;
    background-color: aqua;
    display: flex;
    box-sizing: border-box;
  }

  .marquee_title {
    padding: 0 20px;
    height: 30px;
    /*关键样式*/
    font-size: 14px;
    border-right: 1px solid #d8d8d8;
    align-items: center;
  }

  .marquee_box {
    display: block;
    position: relative;
    width: 60%;
    height: 30px;
    /*关键样式*/
    overflow: hidden;
  }

  .marquee_list {
    display: block;
    position: absolute;
    top: 0;
    left: 4px;
  }

  .marquee_top {
    transition: top 0.5s;
  }

  /*关键样式*/
  .marquee_list li {
    height: 30px;
    /*关键样式*/
    line-height: 36px;
    /*关键样式*/
    font-size: 14px;
    padding-left: 20px;
    background-color: #fff;
  }

  .marquee_list li span {
    padding: 0 2px;
    font-size: 12px;
    color: #666;
  }

  .red {
    color: #FF0101;
  }

  .tipnotice {
    position: absolute;
    left: 0px;
    z-index: 9;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(0, -50%)
  }

  .detail {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #666;
    font-size: 12px;

  }

  .import {
    color: #fee900;
    font-size: 16px;
    font-weight: bold;
  }

  .team-img img {
    width: 188px;
    height: 200px;
    border-radius: 50%;
    transition: all 1.2s;
    -moz-transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -o-transition: all 1.2s;
  }

  .team-img img:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
  }

  .textaLeft {
    text-align: left;
  }

  .reference {
    color: #999999;
    font-size: 14px;
  }

  .fs16 {
    color: #e54941;
    font-size: 18px;
    ;
  }

  .iconmerchantPic {
    width: 32px;
    height: 32px;
    ;
    border-radius: 50%;
    margin-right: 10px;
  }

  .merchantPic {
    text-align: left;
    line-height: 32px;
  }

  .merchantPic span {
    color: #666;
  }

  .hotitem {
    width: 389px;
    height: 212px;
  }

  .bugwrap p {
    margin-left: 10px;
    color: #AAAAAB;
    font-size: 14px;

  }

  .bugwrap li {
    background: #fff;
    height: 290px !important;
    margin-right: 16px !important;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .bugwrap li:nth-child(3n) {
    margin-right: 0 !important;
  }

  .bugwrap p:nth-child(2) {
    margin-right: 82px;

  }

  .bugwrap .title {
    margin: 18px 0;
    color: #585858;
    font-size: 16px;
  }

  .bugwrap .address {
    margin: 18px 0;
    color: #AAAAAB;
    font-size: 14px;
  }

  .brand-info {
    padding: 0 22px;
  }

  .map {
    background: url(/src/img/hx_img/map.png)no-repeat;
    display: block;
    width: 16px;
    height: 17px;
    background-size: 100% 100%;
    margin-right: 6px;
  }

  .buynav li {
    line-height: 50px;
  }

  .crdata {
    background: url(/src/img/hx_img/see.png)no-repeat;
    display: block;
    width: 16px;
    height: 17px;
    background-size: 100% 100%;
    margin-top: -4px;
    margin-right: 10px;
  }

  .container_content {
    width: 1200px;
    margin: 0 auto;
  }

  #tobuy {
    margin: 0 0 100px 0;
  }

  [v-cloak] {
    display: none;
  }

  .promotion-box .name {
    padding: 16px 0;
  }

  .promotion-box .reference {
    padding: 10px 0 14px;
  }

  /* 轮播图左右箭头 */
  .buy_banner .el-carousel__arrow,
  .buy_banner .el-carousel__arrow:hover {
    background: #584f4f !important;
  }

  .buy_banner .el-carousel__arrow i {
    font-size: 30px !important;
    font-weight: bold !important;
  }

  .zone-box {
    padding-top: 22px;
    line-height: 60px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    background: #FFFFFF;
    text-align: center;
  }

  .zone-box .zone-name {
    text-align: center;
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    line-height: 45px;
  }

  .card-block {
    padding: 20px;
    margin-top: 40px;
    background: #fff;
  }

  /* .activity-goods {
    padding: 20px 0 30px;
    overflow: hidden;
    width: 571px;
    border-radius: 8px;
  } */

  .activity-box.card-block .title {
    padding: 0 10px;
    line-height: 57px;
    font-size: 20px;
    color: #FFFFFF;
    background: linear-gradient(91deg, rgba(255, 73, 82, .8) 0%, rgba(255, 124, 105, .8) 100%);
  }

  /* .activity-goods .activity-more {
    float: right;
    font-size: 12px;
  }

  .activity-goods .goods-box {
    padding: 20px 12px;
    height: 256px;
    border: 2px solid #F1F1F1;
    border-top: 0;
    border-radius: 0 0 8px;
  } */

  .goods {
    position: relative;
  }

  .goods-img-box {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .goods-img-box .activity-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: url("../../src/img/activity-md.png"); */
    background-position: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  }

  /* .activity-goods .discount {
    position: absolute;
    top: 6px;
    left: 0;
    width: 53px;
    height: 26px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    color: #ffffff;
    background: url("../../src/img/jewelry/group.png");
    z-index: 1;
  }

  .activity-goods .price {
    color: #333333;
    font-size: 12px;
  }

  .activity-goods del {
    margin-left: 6px;
    color: #CCCCCC;
  } */

  .promote-goods .promotion-btn {
    padding: 0 16px;
    height: 27px;
    text-align: center;
    font-size: 12px;
    background: #FB746E;
    border-color: #FB746E
  }

  .advertisement {
    margin-top: 40px;
    height: 120px;
    background-size: cover;
  }

  .card-block {
    margin-top: 40px;
    padding: 5px 18px 0;
  }

  .card-block .title {
    color: #333333;
    font-size: 24px;
    line-height: 53px;
  }

  .zone-title {
    position: relative;
    color: #333333;
    font-size: 24px;
    text-align: center;
    line-height: 53px;
  }

  .zone-title span {
    position: relative;
  }

  .zone-title span:before,
  .zone-title span:after {
    position: absolute;
    content: "";
    width: 133px;
    height: 2px;
    top: 50%;
  }

  .zone-title span:before {
    left: -160px;
    background: linear-gradient(to left, #ccc, transparent);
  }

  .zone-title span:after {
    right: -160px;
    background: linear-gradient(to right, #ccc, transparent);
  }

  .row {
    padding: 10px 50px;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .span-4 {
    width: 20%;
  }

  .card-block .more {
    float: right;
    font-size: 12px;
    color: #999999;
  }

  .brand-goods .brand-item {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    width: 231px;
    height: 468px;
    vertical-align: top;
  }

  .brand-goods .shop-img {
    width: 231px;
    height: 468px;
  }


  .brand-goods .shop-info {
    position: absolute;
    bottom: 0;
    padding: 21px 5px 27px;
    width: 100%;
    height: 132px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .5);
  }

  .brand-goods .shop-recommend {
    margin: 10px 0 14px;
  }

  .brand-goods .shop-btn {
    width: 110px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    background: #FB746E;
    border-color: #FB746E;
    border-radius: 15px;
  }

  .shop-goods {
    display: inline-block;
    width: 326px;
    vertical-align: top;
  }

  .shop-goods .goods-item {
    margin-left: 13px;
    display: inline-block;
    width: 150px;
  }

  .shop-goods .goods-item:nth-child(1),
  .shop-goods .goods-item:nth-child(2) {
    margin-bottom: 30px;
  }

  .category-goods {
    margin-top: 40px;
  }

  .category-goods .card-block {
    margin-top: 0;
    /* padding: 12px 0; */
  }

  .category-goods .goods-box {
    margin-left: -5.5px;
    margin-right: -5.5px;
  }

  .category-goods .goods {
    padding-left: 5.5px;
    padding-right: 5.5px;
    width: 20%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .buynav {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
  }

  .buynav ul li {
    font-size: 12px;
    color: #999999;
    float: left;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    width: 20%;
    text-align: center;
    background: #ffffff;
  }

  .buynav li.cur {
    color: #fff;
    background: #DF735A;
  }

  .card-title {
    padding: 10px 0;
    color: #666666;
    font-size: 14px;
  }

  .card-info {
    height: 106px;
  }

  .goods-else {
    margin-top: 14px;
  }

  .theme-color {
    color: #FB746E;
  }

  .fz-12 {
    font-size: 12px;
  }

  .fz-14 {
    font-size: 14px !important;
  }

  .fz-16 {
    font-size: 16px;
  }

  .cur-pointer {
    cursor: pointer;
  }

  .text-hidden {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
  }
</style>

<body>
  <%- include ../headerbar.ejs %>
  <%- include ../headerNav.ejs %>
  <div id="tobuy" v-cloak>

    <div class="buy_banner">
      <!-- <a href="#" v-for="(item,index) in info.banner"><img :src="item.pcPicture" alt=""></a> -->
      <div class="container">
        <el-carousel trigger="click" height="460px" loop :interval="4000">
          <el-carousel-item v-for="(item,i) in bannerList" :key="i">
            <img :src="item.pcPicture" @click="goBannerUrl(item)" style="cursor: pointer;" />
          </el-carousel-item>
        </el-carousel>
      </div>
    </div>
    <div class="zone-box">
      <div class="container">
        <!-- <h4 class="title">选购专区</h4> -->
        <div class="zone-title">
          <span>选购专区</span>
        </div>
        <div class="row">
          <div class="span-4" v-for="(item,index) in zoneList" :key="index">
            <img class="cur-pointer" :src="item.zoneIcon" width="89" @click="goGoodsList(0,item.id)">
            <p class="zone-name">{{item.zoneName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="new-goods card-block promote-goods" v-if="promoteList.length">
        <h4 class="title">{{promoteName}}<span class="more cur-pointer" @click="goGoodsList(2)">更多 ></h4>
        <div class="goods-box">
          <el-row :gutter="11">
            <el-col :span="4" v-for="(subItem, subIndex) in promoteList" :key="subIndex"
              @click.native="goGoodsDetail(subItem.id)">
              <div class="goods cur-pointer">
                <div class="goods-img-box">
                  <div class="activity-bg" v-if="subItem.pcBigIcon"
                    :style="{backgroundImage: subItem.pcBigIcon ? 'url(' + subItem.pcBigIcon + ')' : ''}"></div>
                  <img :src="subItem.imgUrl" width="100%" height="100%">
                </div>
                <div class="card-info">
                  <h4 class="card-title text-hidden">{{subItem.goodsName}}</h4>
                  <p class="price">¥<span
                      v-if="subItem.promotionPrice">{{subItem.promotionPrice.toFixed(2)}}</span><del>
                      ¥<span v-if="subItem.price">{{subItem.price.toFixed(2)}}</span></del></p>
                  <p class="goods-else">
                    <el-button type="danger" class="promotion-btn">{{subItem.countDown}}</el-button>
                  </p>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <div v-if="advertiseList[0] && advertiseList[0].name" class="advertisement" @click="goBannerUrl(advertiseList[0])"
        :style="{backgroundImage: 'url(' + advertiseList[0].pcPicture + ')'}">
      </div>
      <div class="new-goods card-block" v-if="groupList.length">
        <h4 class="title">{{groupName}}<span class="more cur-pointer" @click="goGoodsList(1)">更多 ></h4>
        <div class="goods-box">
          <el-row :gutter="11">
            <el-col :span="4" v-for="(subItem, subIndex) in groupList" :key="subIndex"
              @click.native="goGoodsDetail(subItem.id)">
              <div class="goods cur-pointer">
                <span class="discount">{{subItem.discount}}<i style="margin-left: 4px;font-size: 13px;">折</i></span>
                <div class="goods-img-box">
                  <div class="activity-bg" v-if="subItem.pcBigIcon"
                    :style="{backgroundImage: subItem.pcBigIcon ? 'url(' + subItem.pcBigIcon + ')' : ''}"></div>
                  <img :src="subItem.imgUrl" width="100%" height="100%">
                </div>
                <div class="card-info">
                  <h4 class="card-title text-hidden">{{subItem.goodsName}}</h4>
                  <p class="price">¥<span v-if="subItem.groupPrice">{{subItem.groupPrice.toFixed(2)}}</span><del>
                      ¥<span v-if="subItem.price">{{subItem.price.toFixed(2)}}</span></del></p>
                  <p class="goods-else">
                    <el-row :gutter="4">
                      <el-col :span="4">
                        <img :src="subItem.merchantLogo" width="18">
                      </el-col>
                      <el-col :span="20" class="merchant-name text-hidden">
                        {{subItem.merchantName}}
                      </el-col>
                    </el-row>
                  </p>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <div v-if="advertiseList[1] && advertiseList[1].name" class="advertisement" @click="goBannerUrl(advertiseList[1])"
        :style="{backgroundImage: 'url(' + advertiseList[1].pcPicture + ')'}">
      </div>
      <div class="new-goods card-block" v-if="goodsList.length">
        <h4 class="title">{{goodsName}}<span class="more cur-pointer" @click="goGoodsList(0)">更多 ></h4>
        <div class="goods-box">
          <el-row :gutter="11">
            <el-col :span="4" v-for="(subItem, subIndex) in goodsList" :key="subIndex"
              @click.native="goGoodsDetail(subItem.id)">
              <div class="goods cur-pointer">
                <div class="goods-img-box">
                  <div class="activity-bg" v-if="subItem.pcBigIcon"
                    :style="{backgroundImage: subItem.pcBigIcon ? 'url(' + subItem.pcBigIcon + ')' : ''}"></div>
                  <img :src="subItem.imgUrl" width="100%" height="100%">
                </div>
                <div class="card-info">
                  <h4 class="card-title text-hidden">{{subItem.goodsName}}</h4>
                  <p class="price theme-color fz-12">¥<span class="fz-14"
                      v-if="subItem.price">{{subItem.price.toFixed(2)}}</span></p>
                  <p class="goods-else">
                    <el-row :gutter="4">
                      <el-col :span="4">
                        <img :src="subItem.merchantLogo" width="18">
                      </el-col>
                      <el-col :span="20" class="merchant-name text-hidden">
                        {{subItem.merchantName}}
                      </el-col>
                    </el-row>
                  </p>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <div v-if="advertiseList[2] && advertiseList[2].name" class="advertisement" @click="goBannerUrl(advertiseList[2])"
        :style="{backgroundImage: 'url(' + advertiseList[2].pcPicture + ')'}">
      </div>
      <div class="brand-goods card-block" v-if="brandList.length">
        <h4 class="title">{{brandName}}<span class="more cur-pointer" @click="goShopList">更多 ></h4>
        <div class="goods-box">
          <el-row :gutter="11">
            <el-col :span="12" v-for="(subItem, subIndex) in brandList" :key="subIndex"
              @click.native="toGoodsDetail(subItem.id)">
              <div class="brand-item">
                <div class="shop-box" @click='toShopDetail(subItem.id)'>
                  <div class="shop-img"
                    :style="{backgroundImage: 'url(' + subItem.merchantPic + ')', backgroundSize:'cover'}">
                  </div>
                </div>
                <div class="shop-info tc">
                  <h4 class="text-hidden fz-16">{{subItem.merchantName}}</h4>
                  <p class="shop-recommend text-hidden fz-14">{{subItem.recommendDetail}}</p>
                  <!-- <van-button class="shop-btn" round color="#FB746E">进店逛逛 ></van-button> -->
                  <el-button type="danger" class="shop-btn" @click="goMerchantDetail(subItem.id)">进店逛逛 ></el-button>
                </div>
              </div>
              <div class="shop-goods">
                <div class="goods-item cur-pointer" v-for="(goodsItem, goodsIndex) in subItem.goodsVOList"
                  :key="goodsIndex" @click='goGoodsDetail(goodsItem.id)'>
                  <div class="goods-img-box">
                    <div class="activity-bg" v-if="goodsItem.pcBigIcon"
                      :style="{backgroundImage: goodsItem.pcBigIcon ? 'url(' + goodsItem.pcBigIcon + ')' : ''}"></div>
                    <img :src="goodsItem.imgUrl" width="100%">
                  </div>
                  <div class="goods-info">
                    <p class="title text-hidden fz-14">{{goodsItem.goodsName}}</p>
                    <h4 class="price theme-color"><span class="fz-12">￥</span><span
                        class="fz-16">{{goodsItem.price}}</span></h4>
                  </div>
                </div>
              </div>
        </div>
        </el-col>
        </el-row>
      </div>
      <div v-if="advertiseList[3] && advertiseList[3].name" class="advertisement" @click="goBannerUrl(advertiseList[3])"
        :style="{backgroundImage: 'url(' + advertiseList[3].pcPicture + ')'}">
      </div>
      <div class="category-goods">
        <div class="buynav">
          <ul class="clearfix">
            <li v-for="(item,index) in list" @click="goto(item.id)" :class="{'cur': form.categoryId == item.id}">
              {{item.catName}}</li>
          </ul>
        </div>
        <div class="new-goods card-block">
          <div class="goods-box clearfix">
            <div class="tc no-goods" v-if="categoryGoodsList.length == 0">
              <img src="../../src/img/common/no-goods.png" />
              <p>暂无商品</p>
            </div>
            <template v-else>
              <div class="goods cur-pointer" v-for="(subItem, subIndex) in categoryGoodsList" :key="subIndex"
                @click="goGoodsDetail(subItem.goodsId)">
                <div class="goods-img-box">
                  <div class="activity-bg" v-if="subItem.pcBigIcon"
                    :style="{backgroundImage: subItem.pcBigIcon ? 'url(' + subItem.pcBigIcon + ')' : ''}"></div>
                  <img :src="subItem.goodsPic" width="100%" height="100%">
                </div>
                <div class="card-info">
                  <h4 class="card-title text-hidden">{{subItem.goodsName}}</h4>
                  <p class="price theme-color fz-12">¥<span class="fz-14"
                      v-if="subItem.lowPrice">{{subItem.lowPrice.toFixed(2)}}<span
                        v-if="subItem.lowPrice !== subItem.hightPrice">~{{subItem.hightPrice.toFixed(2)}}</span></span>
                  </p>
                  <p class="goods-else">
                    <el-row :gutter="4">
                      <el-col :span="4">
                        <img :src="subItem.merchantPic" width="18">
                      </el-col>
                      <el-col :span="20" class="merchant-name text-hidden">
                        {{subItem.merchantName}}
                      </el-col>
                    </el-row>
                  </p>
                </div>
              </div>
            </template>

          </div>
          <div class="tr container" style="padding: 30px 0;" v-show="listPages > 1">
            <div id="pagination" class="pagination"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

  <%- include ../footer.ejs %>
  <script>
    new Vue({
      el: "#tobuy",
      data: {
        newGoods: [],
        list: [],
        curCategory: '1184',
        info: '',
        form: {
          offset: 1,
          limit: 15,
          goodsSort: 0,
          categoryId: undefined,
          entrance: 1
        },
        listPages: 0,
        promoteName: '',
        groupName: '',
        goodsName: '',
        brandName: '',
        bannerList: [],
        advertiseList: [],
        moduleList: [],
        zoneList: [],
        promoteList: [],
        groupList: [],
        goodsList: [],
        brandList: [],
        timeOut: [],
        categoryGoodsList: []
      },
      async mounted() {
        this.list = await this._TemplateAjax("get", '/app/homePage/secondCategory', {});
        this.form.categoryId = this.list[0].id
        this.getJewelryHome()
        this.render(1)
      },
      methods: {
        getJewelryHome() {
          if (localStorage.getItem('jewelryHome')) {
            this.setJewelryHome(JSON.parse(localStorage.getItem('jewelryHome')))
          }
          utils.ajax({
            type: 'get',
            url: '/app/homePage/whereBuy/new',
            success: (res) => {
              this.setJewelryHome(res.data)
              localStorage.setItem('jewelryHome', JSON.stringify(res.data))
            }
          })
        },
        setJewelryHome(data) {
          this.bannerList = data.banner
          this.moduleList = data.homeModule
          this.zoneList = data.zone
          let advertiseListTemp = data.advertise
          advertiseListTemp.map((item, index) => {
            if (item.id) {
              this.advertiseList[item.position - 1] = item
            }
          })
          this.moduleList.map(item => {
            if (item.id === '1004') {
              this.promoteName = item.moduleName
              this.promoteList = item.goodsVOList
              this.promoteList.map((goodsItem, goodsIndex) => {
                goodsItem.countDown = goodsItem.endTime
                this.getCountDown(goodsItem.endTime, goodsIndex)
              })
            } else if (item.id === '1005') {
              this.goodsName = item.moduleName
              this.goodsList = item.goodsVOList
            } else if (item.id === '1006') {
              this.groupName = item.moduleName
              this.groupList = item.goodsVOList
            } else if (item.id === '1007') {
              this.brandName = item.moduleName
              this.brandList = item.merchantVOList
            }
          })
          console.log(this.moduleList)
        },
        render(page) {
          const self = this
          self.form.offset = page || 1
          utils.ajax({
            url: '/app/search/jewelryGoodsNew',
            type: 'get',
            data: self.form,
            success: function (response) {
              let resData = response.data
              self.categoryGoodsList = resData.records
              self.listPages = resData.pages
              $("#total").html(resData.total);
              if (self.form.offset == 1) {
                $("#pagination").pagination({
                  pageCount: resData.pages,
                  jump: true,
                  coping: true,
                  current: resData.current,
                  prevContent: '上一页',
                  nextContent: '下一页',
                  callback: function (api) {
                    self.render(api.getCurrent())
                  }
                })
              }
            }
          });
        },
        getCountDown(time, index) {
          let finishTime = +new Date(Date.parse(time.replace(/-/g, "/")))
          let diferentTime = this.leftTimer(finishTime - new Date())
          this.promoteList[index].countDown = diferentTime
          this.timeOut[index] = setInterval(() => {
            let finishTime = +new Date(Date.parse(time.replace(/-/g, "/")))
            let diferentTime = this.leftTimer(finishTime - new Date())
            this.promoteList[index].countDown = diferentTime
            this.$forceUpdate()
          }, 1000)
        },
        goGoodsList(goodsType, zoneId) {
          if (zoneId) {
            window.location = '/jewelry/goodsList?zoneId=' + zoneId
          } else {
            window.location = '/jewelry/goodsList?goodsType=' + goodsType

          }
        },
        goShopList() {
          window.location = '/jewelry/shopList'
        },
        goGoodsDetail(id) {
          window.location = '/jewelry/details?id=' + id
        },
        goMerchantDetail(id) {
          window.location = '/jewelry/shopSearch?id=' + id
        },
        goBannerUrl(data) {
          if (data.linkType === 1) {
            this.goGoodsDetail(data.linkTypeId)
          } else if (data.linkType === 2) {
            this.goMerchantDetail(data.linkTypeId)
          } else if (data.linkType === 3) {
            window.location = '/jewelryCircle/index'
          } else if (data.linkType === 4) {
            window.location = '/jewelryCircle/index'
          } else if (data.pcUrl) {
            window.location = data.pcUrl
          }
        },
        _TemplateAjax(type, url, data) {
          var that = this;
          var params;
          utils.ajax({
            url: url,
            async: false,
            data: data,
            type: type,
            success: function (res) {
              params = res.data
            }
          })
          return params
        },
        goto(categoryId) {
          this.form.categoryId = categoryId
          this.render(1)
        },
        leftTimer(leftTime) {
          var text = "";
          var days = parseInt(leftTime / 1000 / 60 / 60 / 24, 10); //计算剩余的天数
          var hours = parseInt(leftTime / 1000 / 60 / 60 % 24, 10); //计算剩余的小时
          var minutes = parseInt(leftTime / 1000 / 60 % 60, 10); //计算剩余的分钟
          var seconds = parseInt(leftTime / 1000 % 60, 10); //计算剩余的秒数
          if (seconds < 0) {
            return text
          }
          days = this.checkTime(days)
          hours = this.checkTime(hours)
          minutes = this.checkTime(minutes)
          seconds = this.checkTime(seconds)
          if (days) {
            text = days + "天" + hours + "时" + minutes + "分"
          } else {
            text = hours + "时" + minutes + "分" + seconds + "秒"
          }
          return text
        },
        checkTime(i) { //将0-9的数字前面加上0，例1变为01
          if (i < 10) {
            i = "0" + i
          }
          return i
        }
      }
    })
  </script>
</body>

</html>