<div id="headerNav" class="headerNav">
	<div class="container">
		<ul class="clearfix">
			<li>
				<a class="navItem <% if(headerIndex == 0){ %>cur<% } %>" href="../../">首页</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 1){ %>cur<% } %>" href="../../jewelry/index">珠宝店</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 2){ %>cur<% } %>" href="../../exchange/index">互换坊</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 3){ %>cur<% } %>" href="../../design/index">设计室</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 4){ %>cur<% } %>" href="../../manufacture/index">制造间</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 5){ %>cur<% } %>" href="../../gallery/index">图文馆</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 6){ %>cur<% } %>" href="../../news/">行业之声</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 7){ %>cur<% } %>" href="../../jewelry_fair/index">珠宝展</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 8){ %>cur<% } %>" href="../../live/story">直播厅</a>
				<div>
				
				</div>
			</li>
			<li>
				<a class="navItem <% if(headerIndex == 9){ %>cur<% } %>" href="../../up_and_down/index">上下游服务</a>
				<div>
				
				</div>
			</li>
			<!--<li>
				<a class="navItem">更多</a>
				<div>
					<div class="container">
						<ul class="clearfix fr">
							<li class="fl"><a href="../../live/index">直播厅</a></li>
							<li class="fl"><a href="../../exhibit/index">珠宝展</a></li>
							<li class="fl"><a href="../../service/index">上下游服务</a></li>
						</ul>
					</div>
				</div>
			</li>-->
		</ul>
	</div>
</div>