@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h3,
h4 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pointer {
  cursor: pointer;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;

  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  text-align: right;
  margin-top: 30px;
}

.filter-container {
  padding-bottom: 30px;

  .el-input {
    width: 200px !important;
  }

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }

  .filter-btn {
    margin-left: 80px;
  }
}

.page-container {
  padding: 30px 20px 40px;
  min-height: 640px;
  font-size: 12px;
  background: #ffffff;
}

.block-container {
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 12px;
  background: #ffffff;
}

.statistics-container {
  h4 {
    margin-bottom: 20px;
    line-height: 42px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
  }

  .statistics-item {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 220px;
    color: #333333;
    font-size: 20px;
    line-height: 50px;
    border: 1px solid #f0f3f9;

    .statistics-value {
      line-height: 34px;
      font-size: 12px;
      background: #efefef;
    }
  }

  .statistics-item:nth-child(4n) {
    margin-right: 0;
  }
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: $primary;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}



//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.el-message--error {
  z-index: 99999 !important;
}

.el-notification.right {
  z-index: 40000 !important;
}

.el-range-editor--medium .el-range-separator {
  line-height: 24px;
}

.el-form-item__label {
  font-size: 12px;
  color: #333;
  font-weight: normal;
}

.input-tip {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 12px;
  color: #999999;
  line-height: 12px;
}

//refine input
.el-input--medium .el-input__inner,
.el-range-editor--medium.el-input__inner {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

.el-button--medium {
  padding: 8px 20px;
}

// 头部弹框样式
.el-popper.merchant-popper {
  margin-top: 24px;
  border-radius: 0;
}

// 页面公共按钮
.round-btn-sm {
  width: 80px;
  height: 32px;
  border-color: $primary;
  color: $primary;
  padding: 0;
  text-align: center;
  border-radius: 16px;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.primary-btn-sm {
  padding: 0;
  width: 80px;
  height: 32px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  border-color: $primary;
  background-color: $primary;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.primary-btn-md {
  padding: 0;
  width: 100px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  border-color: $primary;
  background-color: $primary;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.primary-btn-big {
  padding: 0;
  width: 120px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  border-color: $primary;
  background-color: $primary;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.plain-btn-sm {
  width: 80px;
  height: 32px;
  font-size: 12px;
  border-color: $primary;
  color: $primary;
  background: #ffffff;
  padding: 0;
  text-align: center;
  border-radius: 4px;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.plain-btn-md {
  width: 100px;
  height: 32px;
  font-size: 12px;
  border-color: $primary;
  color: $primary;
  background: #ffffff;
  padding: 0;
  text-align: center;
  border-radius: 4px;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.plain-btn-gray-sm {
  width: 80px;
  height: 32px;
  font-size: 12px;
  border-color: #E5E5E5;
  color: $lightGray;
  background: #ffffff;
  padding: 0;
  text-align: center;
  border-radius: 4px;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.plain-btn-gray-md {
  width: 100px;
  height: 32px;
  font-size: 12px;
  border-color: #E5E5E5;
  color: $lightGray;
  background: #ffffff;
  padding: 0;
  text-align: center;
  border-radius: 4px;

  &.el-button+.el-button {
    margin-left: 20px;
  }
}

.el-button--text {
  color: #3D87FD;
}

// 默认弹窗
.custom-confirm {
  padding-bottom: 50px;
  width: 516px;

  .el-message-box__header {
    padding: 10px 20px;
    background: #E5E5E5;
  }

  .el-message-box__title {
    font-size: 12px;
    color: #585858;
  }

  .el-message-box__headerbtn {
    top: 10px;
    right: 20px;
    font-size: 13px;
  }

  .el-message-box__content {
    padding: 40px 0 30px;
    text-align: center;
    color: #585858;
  }

  .el-message-box__btns {
    text-align: center;

    button {
      width: 100px;
      font-size: 14px;
    }

    .el-button--primary {
      margin-left: 20px;
      background: $primary;
      border-color: $primary;
    }
  }
}

.custom-confirm-sm {
  padding-bottom: 40px;
  width: 340px;

  .el-message-box__header {
    padding: 10px 20px;
    background: #E5E5E5;
  }

  .el-message-box__title {
    font-size: 12px;
    color: #585858;
  }

  .el-message-box__headerbtn {
    top: 10px;
    right: 20px;
    font-size: 13px;
  }

  .el-message-box__content {
    padding: 30px 0 22px;
    text-align: center;
    color: #585858;
  }

  .el-message-box__btns {
    text-align: center;

    button {
      width: 100px;
      font-size: 14px;
    }

    .el-button--primary {
      margin-left: 20px;
      background: $primary;
      border-color: $primary;
    }
  }
}

// 默认表格
.custom-table {
  th {
    padding: 8px 0;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    background-color: #F3F3F3;
    line-height: 24px;
  }

  td {
    padding: 6px 0;
    font-size: 12px;
  }
}

// 默认对话框
.custom-dialog {
  .el-dialog__header {
    padding: 10px 20px;
    background: #E5E5E5;
  }

  .el-dialog__title {
    font-size: 14px;
    color: #666666;
    line-height: 20px;
  }

  .el-dialog__body {
    padding: 20px;
  }

  .el-dialog__footer {
    padding: 10px 0 50px;
    text-align: center;

    button {
      width: 100px;
      font-size: 14px;
    }

    .el-button--primary {
      margin-left: 20px;
      background: $primary;
      border-color: $primary;
    }
  }

  // .el-table .cell {
  //   line-height: 30px;
  // }
}

// 默认弹出框
.custom-popper {
  background: #F2F2F2;
  text-align: center;
}

.word-break {
  word-break: break-all;
}

.word-nowrap {
  white-space: nowrap;
}

.text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}

// utils
/* 阴影 */
.shadow-sm {
  box-shadow: 0 2px 4px rgba(114, 130, 138, 0.2) !important;
}

.shadow {
  box-shadow: 0 8px 16px rgba(114, 130, 138, 0.2) !important;
}

.shadow-lg {
  box-shadow: 0 16px 48px rgba(114, 130, 138, 0.2) !important;
}

/* 定位 */
.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

/* 宽高 */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 1250px;
}

.h-50 {
  width: 625px;
}

/* 字体 */
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font {
  font-size: 14px;
}

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 16px;
}

.font-big {
  font-size: 24px;
}

.font-weight {
  font-weight: bold !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-100 {
  font-weight: 100 !important;
}

.line-h0 {
  line-height: 0 !important;
}

.line-h {
  line-height: 1 !important;
}

.line-h-sm {
  line-height: 1.3 !important;
}

.line-h-md {
  line-height: 1.5 !important;
}

.line-h-big {
  line-height: 2 !important;
}

.line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.block-center {
  margin: 0 auto;
}

.row {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*='span-'],
[class*='span24-'] {
  min-height: 1px;
  box-sizing: border-box !important;
}

/* 栅栏二 */
.span-1 {
  width: 5%;
}

.span-2 {
  width: 10%;
}

.span-3 {
  width: 15%;
}

.span-4 {
  width: 20%;
}

.span-5 {
  width: 25%;
}

.span-6 {
  width: 30%;
}

.span-7 {
  width: 35%;
}

.span-8 {
  width: 40%;
}

.span-9 {
  width: 45%;
}

.span-10 {
  width: 50%;
}

.span-11 {
  width: 55%;
}

.span-12 {
  width: 60%;
}

.span-13 {
  width: 65%;
}

.span-14 {
  width: 70%;
}

.span-15 {
  width: 75%;
}

.span-16 {
  width: 80%;
}

.span-17 {
  width: 85%;
}

.span-18 {
  width: 90%;
}

.span-19 {
  width: 95%;
}

.span-20 {
  width: 100%;
}

/* 栅栏三 */
.span24-1 {
  width: 4.17%;
}

.span24-2 {
  width: 8.33%;
}

.span24-3 {
  width: 12.5%;
}

.span24-4 {
  width: 16.67%;
}

.span24-5 {
  width: 20.83%;
}

.span24-6 {
  width: 25%;
}

.span24-7 {
  width: 29.17%;
}

.span24-8 {
  width: 33.33%;
}

.span24-9 {
  width: 37.5%;
}

.span24-10 {
  width: 41.67%;
}

.span24-11 {
  width: 45.83%;
}

.span24-12 {
  width: 50%;
}

.span24-13 {
  width: 54.17%;
}

.span24-14 {
  width: 58.33%;
}

.span24-15 {
  width: 62.5%;
}

.span24-16 {
  width: 66.67%;
}

.span24-17 {
  width: 70.83%;
}

.span24-18 {
  width: 75%;
}

.span24-19 {
  width: 79.17%;
}

.span24-20 {
  width: 83.33%;
}

.span24-21 {
  width: 87.5%;
}

.span24-22 {
  width: 91.67%;
}

.span24-23 {
  width: 95.83%;
}

.span24-24 {
  width: 100%;
}


/* flex布局 */
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-shrink {
  flex-shrink: 0;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-sb {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-stretch {
  align-items: stretch;
}

.a-self-start {
  align-self: flex-start;
}

.a-self-auto {
  align-self: auto;
}

.a-self-end {
  align-self: flex-end;
}

.a-self-stretch {
  align-self: stretch;
}

.a-self-baseline {
  align-self: baseline;
}

/* Border */
.border {
  border-width: 1px;
  border-style: solid;
  border-color: $borderColor;
}

.border-top {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $borderColor;
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $borderColor;
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $borderColor;
}

.border-left {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: $borderColor;
}

.border-0 {
  border-width: 0;
}

.border-top-0 {
  border-top-width: 0;
}

.border-right-0 {
  border-right-width: 0;
}

.border-bottom-0 {
  border-bottom-width: 0;
}

.border-left-0 {
  border-left-width: 0;
}

.border-primary {
  border-color: $primary !important
}

.border-secondary {
  border-color: $secondary !important
}

.border-success {
  border-color: $success !important
}

.border-danger {
  border-color: $danger !important
}

.border-warning {
  border-color: $warning !important
}

.rounded {
  border-radius: 5px;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-0 {
  border-radius: 0;
}

/* color */
.text-black {
  color: $black !important;
}

.text-gray {
  color: $gray !important;
}

.text-light-gray {
  color: $lightGray !important;
}

.text-info {
  color: $info !important;
}

.text-white {
  color: $white !important;
}

.text-primary {
  color: $primary !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-primary-hover {
  background-color: $primaryHover !important;
}

.bg-light-blue {
  background-color: $lightBlue !important;
}

.bg-hover {
  background-color: $hover !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-white {
  background-color: $white !important;
}

/* Spacing */
.m-0 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.m {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-1 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-3 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-4 {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.m-5 {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-0 {
  margin-top: 0;
}

.mt {
  margin-top: 5px;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb {
  margin-bottom: 5px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0;
}

.ml {
  margin-left: 5px;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0;
}

.mr {
  margin-right: 5px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.p-0 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-4 {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-5 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px {
  padding-left: 5px;
  padding-right: 5px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-0 {
  padding-top: 0;
}

.pt {
  padding-top: 5px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb {
  padding-bottom: 5px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-0 {
  padding-left: 0;
}

.pl {
  padding-left: 5px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-0 {
  padding-right: 0;
}

.pr {
  padding-right: 5px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}
