$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$primary:#3d87fd;
$primaryHover:#609dff;
$secondary: #79acff;
$lightBlue: #d6d6d6;
$hover:#d8e7ff;
$inputBlur: #dfecff;
$white: #fff;

$disabled:#aaaaaa;
$borderColor:#cccccc;
$titleBg: #f3f3f3;
$bg: #f2f2f2;

$success: #21d036;
$danger: #ff7f7f;
$warning: #f7c20a;

$black: #333333;
$gray: #666666;
$lightGray: #999999;
$info:#aaaaaa;
