<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="baidu-site-verification" content="ITnvXxZBIi" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="中宝协云平台-中国珠宝行业垂直云平台，聚集珠宝爱好者！最新珠宝新资讯，商品涵盖钻石、黄金、彩宝、翡翠玉石、珍珠琥珀等珍贵材质、独特设计、给您精致奢华精彩呈现。">
  <meta name="keywords"
    content="中宝协云平台、中宝云、中宝平、珠宝圈、珠宝定制、珠宝鉴定、珠宝品牌、钻石戒指、玉石闲 置、珠宝直播、珠宝拍卖、珠宝行业、珠宝证书、求婚钻戒、彩宝、珠宝商城、珠宝首饰、珠宝展、珠宝设计、珠宝市场、珠宝图片、世界珠宝、钻戒定制、首饰、珠宝店、珠宝真品、黄金/K金及首饰、银饰及首饰、天然钻石及首饰、翡翠、和田玉、彩色宝石、珍珠、水晶、琥珀、黄龙玉、绿松石、玛瑙、印章石、其他玉石及首饰、贵金属（除黄金、K金、白银）首饰 、有机宝石（除珍珠、琥珀）、培育钻石及首饰、珠宝一站式购物商城、品牌珠宝、买首饰、珠宝商城、专业珠宝、珠宝鉴定、最权威的珠宝鉴定网站、珠宝科普、钻石怎么买、什么是5G黄金、什么是千足金、翡翠鉴定、玉石变色的原因、海水珍珠怎么鉴别、爱迪生珍珠、什么是海蓝宝、什么是铂金、怎么计算钻石价格">
  <title>中宝平 中国珠宝行业权威平台中宝平，带你到源头买真品！</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    }

    body {
      min-width: 1600px;
      /* height: 5304px; */
      background: #f55663 url(../../src/img/committee/3.8/background.png) no-repeat center top;
    }

    .main {
      width: 1200px;
      position: relative;
      margin: 0 auto;
    }

    .go-home {
      position: absolute;
      top: 0;
      width: 120px;
      height: 105px;
      background: url(../../src/img/committee/3.8/home.png) no-repeat center bottom;
      cursor: pointer;
    }

    .goods {
      position: absolute;
      top: 1045px;
      width: 378px;
      height: 526px;
      background: url(../../src/img/committee/3.8/1-1.png);
      cursor: pointer;
    }

    .goods1-2 {
      top: 1045px;
      left: 412px;
      background: url(../../src/img/committee/3.8/1-2.png);
    }

    .goods1-3 {
      top: 1045px;
      left: 820px;
      background: url(../../src/img/committee/3.8/1-3.png);
    }

    .goods2-1 {
      top: 1888px;
      width: 607px;
      height: 320px;
      background: url(../../src/img/committee/3.8/2-1.png);
    }

    .goods2-2 {
      top: 2227px;
      width: 607px;
      height: 320px;
      background: url(../../src/img/committee/3.8/2-2.png);
    }

    .goods2-3 {
      top: 1888px;
      left: 657px;
      width: 544px;
      height: 669px;
      background: url(../../src/img/committee/3.8/2-3.png);
    }

    .goods3-1 {
      top: 2839px;
      width: 380px;
      height: 547px;
      background: url(../../src/img/committee/3.8/3-1.png);
    }

    .goods3-2 {
      top: 2839px;
      left: 410px;
      width: 380px;
      height: 547px;
      background: url(../../src/img/committee/3.8/3-2.png);
    }

    .goods3-3 {
      top: 2839px;
      left: 820px;
      width: 380px;
      height: 547px;
      background: url(../../src/img/committee/3.8/3-3.png);
    }

    .goods3-4 {
      top: 3446px;
      width: 380px;
      height: 547px;
      background: url(../../src/img/committee/3.8/3-4.png);
    }

    .goods3-5 {
      top: 3446px;
      left: 410px;
      width: 380px;
      height: 547px;
      background: url(../../src/img/committee/3.8/3-5.png);
    }

    .goods3-6 {
      top: 3446px;
      left: 820px;
      margin-bottom: 830px;
      width: 380px;
      height: 547px;
      background: url(../../src/img/committee/3.8/3-6.png);
    }

    .share {
      position: fixed;
      top: 50%;
      right: 20px;
      width: 240px;
      height: 389px;
      line-height: 44px;
      text-align: center;
      font-size: 24px;
      color: #f35762;
      transform: translateY(-50%);
      background: url(../../src/img/committee/3.8/fix.png);
    }

    .qr-code {
      width: 169px;
      height: 169px;
      margin: 150px auto 0;
      background: url(../../src/img/committee/3.8/qr-code.png);
      background-size: 100% 100%;
    }
  </style>
</head>

<body>
  <div id="main" class="main">
    <div class="go-home" onclick="toHome()"></div>
    <div class="goods1-1 goods" onclick="toGoodsDetail('6021')"></div>
    <div class="goods1-2 goods" onclick="toGoodsDetail('5239')"></div>
    <div class="goods1-3 goods" onclick="toGoodsDetail('6433')"></div>
    <div class="goods2-1 goods" onclick="toGoodsDetail('6444')"></div>
    <div class="goods2-2 goods" onclick="toGoodsDetail('6436')"></div>
    <div class="goods2-3 goods" onclick="toGoodsDetail('6022')"></div>
    <div class="goods3-1 goods" onclick="toGoodsDetail('6438')"></div>
    <div class="goods3-2 goods" onclick="toGoodsDetail('6440')"></div>
    <div class="goods3-3 goods" onclick="toGoodsDetail('4676')"></div>
    <div class="goods3-4 goods" onclick="toGoodsDetail('6468')"></div>
    <div class="goods3-5 goods" onclick="toGoodsDetail('6432')"></div>
    <div class="goods3-6 goods" onclick="toGoodsDetail('6434')"></div>
    <div class="share">
      <div class="qr-code"></div>
      <p>扫码分享给好友</p>
    </div>
  </div>

  <script>
    function toHome() {
      window.location = '/'
    }

    function toGoodsDetail(id) {
      window.location = 'http://gacjc.com/jewelry/details?id=' + id
    }

    if (!IsPC()) {
      location.href = "http://m.gacjc.com/activity/queenActivity"
    }

    function IsPC() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
        "SymbianOS", "Windows Phone",
        "iPad", "iPod"
      ];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
          flag = false;
          break;
        }
      }
      return flag;
    }
  </script>

</body>

</html>