<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="baidu-site-verification" content="ITnvXxZBIi" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="description" content="中宝协云平台-中国珠宝行业垂直云平台，聚集珠宝爱好者！最新珠宝新资讯，商品涵盖钻石、黄金、彩宝、翡翠玉石、珍珠琥珀等珍贵材质、独特设计、给您精致奢华精彩呈现。">
  <meta name="keywords"
    content="中宝协云平台、中宝云、中宝平、珠宝圈、珠宝定制、珠宝鉴定、珠宝品牌、钻石戒指、玉石闲 置、珠宝直播、珠宝拍卖、珠宝行业、珠宝证书、求婚钻戒、彩宝、珠宝商城、珠宝首饰、珠宝展、珠宝设计、珠宝市场、珠宝图片、世界珠宝、钻戒定制、首饰、珠宝店、珠宝真品、黄金/K金及首饰、银饰及首饰、天然钻石及首饰、翡翠、和田玉、彩色宝石、珍珠、水晶、琥珀、黄龙玉、绿松石、玛瑙、印章石、其他玉石及首饰、贵金属（除黄金、K金、白银）首饰  、有机宝石（除珍珠、琥珀）、培育钻石及首饰">
  <title>中宝平 中国珠宝行业权威平台中宝平，带你到源头买真品！</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    }

    body {
      min-width: 1600px;
      background: #507cff url(../../src/img/committee/background.png) no-repeat center top;
      /* background-size: 100% 100%; */
      /* background-size: cover; */
    }

    .main {
      width: 62%;
      position: relative;
      top: 720px;
      left: 50%;
      transform: translateX(-50%);
    }

    .top-border {
      border: 10px solid #363cd5;
      border-radius: 10px;
    }

    .top-info {
      margin: 0 40px;
      padding: 50px 74px 20px;
      background: #fff;
      border-radius: 0 0 5px 5px;
    }

    .top-info .top-title {
      line-height: 56px;
      font-size: 26px;
      font-weight: bold;
      color: #363cd5;
    }

    .top-info .top-title::after {
      display: block;
      width: 190px;
      content: '';
      border-bottom: 4px solid #ffdf43;
    }

    .top-info .top-items {
      padding: 5px 0;
    }

    .top-info .top-item {
      margin: 25px 0;
      line-height: 38px;
      font-size: 18px;
      color: #333;
    }

    .top-item.lh10 {
      line-height: 28px;
    }

    .bottom-info {
      margin: 20px 40px 150px;
      padding: 45px 74px 20px;
      line-height: 30px;
      text-align: center;
      background: #fff;
      border-radius: 5px;
    }

    .bottom-info .relative {
      padding: 0px 80px;
      height: 30px;

    }

    .bottom-info .relative .address {
      float: left;
    }

    .bottom-info .relative .tel {
      float: right;
    }

    .bottom-info .company {
      margin: 10px 0 25px;
    }

    .bottom-info .btn {
      margin: 25px auto 0;
      width: 165px;
      height: 40px;
      background-image: url(../../src/img/committee/btn.png);
      cursor: pointer;
    }

    .bottom-info i {
      vertical-align: middle;
      margin-right: 10px;
    }

    .address-icon {
      display: inline-block;
      width: 16px;
      height: 22px;
      background-image: url(../../src/img/committee/add-pc.png);
    }

    .tel-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(../../src/img/committee/phone-pc.png);
    }

    .logo-icon {
      display: inline-block;
      margin-right: 20px;
      width: 25px;
      height: 26px;
      background-image: url(../../src/img/committee/logo-pc.png);
    }

    .close-date {
      width: 490px;
      font-weight: bold;
      border-bottom: 1px solid #ffdf43;
    }

    .btn a {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="main" class="main">
    <div class="top-border"></div>
    <div class="top-info">
      <div class="top-main">
        <div class="top-title">“专委会”的成立</div>
        <div class="top-items">
          <div class="top-item">珠宝行业的每个细分行业板块，成立一个中宝平“专委会”。</div>
          <div class="top-item lh10">暂定细分行业板块包括：黄金/K金及首饰、银饰及首饰、天然钻石及首饰、翡翠、和田玉、彩色宝石、珍珠、水晶 、琥珀
            、黄龙玉、绿松石、玛瑙、印章石、其他玉石及首饰、贵金属（除黄金、K金、白银）首饰、有机宝石（除珍珠、琥珀）、培育钻石及首饰。</div>
        </div>
      </div>
      <div class="top-main">
        <div class="top-title">“专委会”的主要权利义务</div>
        <div class="top-items">
          <div class="top-item">
            <p>1、制定本细分行业规则</p>
            <p>包括：珠宝身份证的组成、珠宝指导参考价格的组成元素及大数据计算方法、客户投诉的处理、诚信企业的评定等。</p>
          </div>
          <div class="top-item">
            <p>2、领导本细分行业的运营</p>
            <p>成立本细分行业的“9人领导小组”，带领本行业的企业，借助中宝平诚信经营、公平竞争，避免恶性竞争，打击假货，保护诚信企业和消费者的权益。</p>
          </div>
          <div class="top-item">
            <p>3、领导小组成员可以成为中宝平的股东，并分得细分行业30%利润</p>
            <p>专委会9人领导小组由1家主任单位，2家副主任单位，及6家理事单位组成。</p>
            <p>详情咨询李总13501138695，010-84276540或者发到邮箱 admin@gacjc.com</p>
          </div>
        </div>
      </div>
      <div class="top-main">
        <div class="top-title">怎么样申请加入“专委会”，怎么样成为“专委会”领导</div>
        <div class="top-items">
          <div class="top-item">
            <p>1、企业在申请截止日期前按规定提出申请</p>
            <p>获取或提交申请表，请发到邮箱 admin@gacjc.com，咨询可电010-8427 6540</p>
            <p class="close-date">首批专委会领导小组成员申请截止时间为：2019年7月20日。</p>
          </div>
          <div class="top-item">
            <p>2、由中宝协和中宝平组成的“委员会”审查批准</p>
            <p>以先申请先获得审核批准的原则，9人领导小组成员任命完毕后，其他任何企业申请，均作为普通企业入驻平台，并接受9人小组的领导。批准后将通知有关企业，并在平台上公示。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-info">
      <div class="relative">
        <span class="address"><i class="address-icon"></i>北京市东城区北三环东路36号环球贸易中心B栋2707/2709</span>
        <span class="tel"><i class="tel-icon"></i>010-8427 6540</span>
      </div>
      <p class="company"><i class="logo-icon"></i>中宝协（北京）珠宝文化有限公司</p>
      <p>报名资料填写完成后，请发到邮箱 admin@gacjc.com，咨询可电010-8427 6540</p>
      <p class="btn">
        <a href="http://app.gacjc.com/app/download/application.doc" download="application">
          <div class="download-btn"></div>
        </a>
      </p>
    </div>
  </div>

  <script>
    if (!IsPC()) {
      location.href = "/committee/app"
    }

    function IsPC() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
        "SymbianOS", "Windows Phone",
        "iPad", "iPod"
      ];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
          flag = false;
          break;
        }
      }
      return flag;
    }
  </script>

</body>

</html>