<div class="commentPost">
	<div class="clearfix commentPostHeader">
		<div class="fr">
			<em class="inputLength">0</em>
			<em>/</em>
			<em>300</em>
		</div>
		<div>
			<strong>发表评论</strong>&ensp;
			<span>请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。</span>
		</div>
	</div>
	<div class="commentPostInput">
		<textarea maxlength="300" placeholder="我来说2句" onkeyup="utils.commentInputNum(this)"></textarea>
		<div class="clearfix">
			<div class="layer-table">
				<div>
					<div>
						<span class="username"></span>
					</div>
					<div class="tr">
						<span class="red errorText"></span>
						<label class="checkbox hide">
							<span class="checkbox-input">
								<span class="checkbox-input-inner"></span>
							</span>
							<span class="checkbox-label">匿名？</span>
						</label>
						<a class="btn postBtn">发表评论</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

