<div class="commentListWrap">
	<div class="commmentTitle clearfix">
		<h2 class="fl">
			<strong>全部评论</strong>
			<span>(<span class="totalCommentNum"></span>)</span>
		</h2>
	</div>
	<div>
		<ul>
							
		</ul>
	</div>
	<a class="btn loadMoreComment hide">查看更多评论</a>
</div>
				
				
