<style>
	#rightBar {
		position: fixed;
		left: 0;
		right: 0;
		top: 180px;
		z-index: 2000;
		width: 1440px;
		margin: 0 auto;
	}

	#rightBar ul {
		padding: 10px;
		width: 102px;
		background: #f4f5f8;
		position: absolute;
		right: 0;
		text-align: center;
	}

	#rightBar ul li {
		cursor: pointer;
	}

	#rightBar ul li i,
	#rightBar ul li span {
		display: block;
		margin: 0 auto;
		line-height: 1.5;
	}

	#rightBar ul li a {
		color: #333333;
	}

	#rightBar ul li a:hover {
		color: #999;
	}

	#rightBar ul li i {
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	#rightBar .car {
		position: relative;
	}

	#rightBar .car span {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		background: #FF0000;
		color: #FFFFFF;
		text-align: center;
		line-height: 18px;
	}
</style>
<div id="rightBar">
	<ul>
		<li>
			<a onclick="$('#downLoad').addClass('show')">
				<i style="background-image: url(../src/img/right_bar/downLoad.png);"></i>
				<span>
					APP
				</span>
			</a>
		</li>
		<li>
			<a data-href="../exchange/cart" onclick="toHref(this)">
				<i class="car" style="background-image: url(../src/img/right_bar/cart.png);">
					<span id="carNum">
						0
					</span>
				</i>
				<span>
					购物车
				</span>
			</a>
		</li>
		<li>
			<a data-href="../user/collect/1" onclick="toHref(this)">
				<i style="background-image: url(../src/img/right_bar/wantGo.png);"></i>
				<span>
					收藏
				</span>
			</a>
		</li>
		<li>
			<a data-href="../user/account" onclick="toHref(this)">
				<i style="background-image: url(../src/img/right_bar/user.png);"></i>
				<span>
					用户
				</span>
			</a>
		</li>
		<li>
			<a data-href="../user/message" onclick="toHref(this)">
				<i style="background-image: url(../src/img/right_bar/msg.png);"></i>
				<span>
					消息
				</span>
			</a>
		</li>
		<li>
			<a onclick="utils.goTop()">
				<i style="background: url(../src/img/up.png) center;background-size: 30px auto;"></i>
				<div>TOP</div>
			</a>
		</li>
	</ul>
</div>
<%- include download_app %>
<script>
	$(function () {
		var _t = utils.getCookie("token");
		if (!!_t) {
			utils.ajax({
				url: "/api/order/cart/list",
				type: "get",
				success: function (data) {
					var len = 0
					var list = data.data.cartItemList || 0;
					for (var i = 0; i < list.length; i++) {
						len += list[i].goods.length
					}
					$("#carNum").text(len)
				}
			})
		}
	})
	function toHref(e) {
		var el = e || window.event;
		if (utils.islogin()) {
			var val = $(el).attr("data-href")
			location.href = val;
		} else {
			//location.href = "../../login?from=" + encodeURIComponent(location.href);
			utils.alert('danger', '请登录后再进行操作！')
		}
	}
</script>