<div class="panel">
	<div class="panel-header">
		<h2 class="panel-title">产品溯源服务</h2>
	</div>
	<div class="panel-body">
		<div>
			<input type="text" placeholder="请输入产品编码">
			<p><a class="yellow">如何查找产品编码！</a></p>
			<a class="btn btn-warning searchBtn">查找</a>
		</div>
	</div>
</div>