<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="baidu-site-verification" content="ITnvXxZBIi" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum=1.0,minimum=1.0,user-scalable=0" />
  <meta name="description" content="中宝协云平台-中国珠宝行业垂直云平台，聚集珠宝爱好者！最新珠宝新资讯，商品涵盖钻石、黄金、彩宝、翡翠玉石、珍珠琥珀等珍贵材质、独特设计、给您精致奢华精彩呈现。">
  <meta name="keywords"
    content="中宝协云平台、中宝云、中宝平、珠宝圈、珠宝定制、珠宝鉴定、珠宝品牌、钻石戒指、玉石闲 置、珠宝直播、珠宝拍卖、珠宝行业、珠宝证书、求婚钻戒、彩宝、珠宝商城、珠宝首饰、珠宝展、珠宝设计、珠宝市场、珠宝图片、世界珠宝、钻戒定制、首饰、珠宝店、珠宝真品、黄金/K金及首饰、银饰及首饰、天然钻石及首饰、翡翠、和田玉、彩色宝石、珍珠、水晶、琥珀、黄龙玉、绿松石、玛瑙、印章石、其他玉石及首饰、贵金属（除黄金、K金、白银）首饰 、有机宝石（除珍珠、琥珀）、培育钻石及首饰、珠宝一站式购物商城、品牌珠宝、买首饰、珠宝商城、专业珠宝、珠宝鉴定、最权威的珠宝鉴定网站、珠宝科普、钻石怎么买、什么是5G黄金、什么是千足金、翡翠鉴定、玉石变色的原因、海水珍珠怎么鉴别、爱迪生珍珠、什么是海蓝宝、什么是铂金、怎么计算钻石价格">
  <title>中宝平 中国珠宝行业权威平台中宝平，带你到源头买真品！</title>
</head>

<body>
  <div class="top-btn-wrap">
    <img src="../../src/img/down/downloadapp.png" style="width: 100%;" />
    <div>
      <div class="btn-ios-wrap" onclick="btn_ios()"></div>
      <div class="btn-android-wrap" onclick="btn_android()"></div>
    </div>
  </div>

  <!-- <div id="main" class="main">
    <div class="top-btn">
      <div class="btn-ios" onclick="btn_ios()"></div>
      <div class="btn-android" onclick="btn_android()"></div>
    </div>
    <div class="top-info">
      <div class="top-title">中国珠宝行业权威平台 千度真珠宝</div>
      <p style="line-height:15px; letter-spacing:1px; margin-top: 10px;">
        中宝协云平台是中宝协（北京）珠宝文化有限公司在中国珠宝玉石首饰行业协会主导下，致力打造的服务企业、规范行业、发展产业的全产业链公共性服务平台。<br>
        中宝协云平台将依靠行业组织资源整合力、社会公信力，发挥珠宝行业龙头、品牌企业领军优势，助力塑造行业新生态，建设市场新秩序，引领珠宝新消费，实现共享与分享经济趋势下的创新型供给和增长性需求。
        中宝协云平台，以创新、协调、绿色、开放、共享为发展理念，以共商、共建、共进、共赢为组织原则，以云量产品、资讯和消费群体为核心竞争力，以激活民间藏量、盘活企业存量、满足消费需求为战略目标，打造全球珠宝文化经济一体化中最具凝聚力和影响力的专业性服务平台。
      </p>
    </div>
    <div class="bottom">
      <div class="bottom-info">
        <div class="bottom-title1">查珠宝身份证</div>
        <div class="bottom-item">消费者按此键，查到”珠宝身份证”: 来源、证书、品牌、型号、珠宝参数等。</div>
        <div class="bottom-title2">查珠宝价格</div>
        <div class="bottom-item">查到珠宝的参考价格范围</div>
        <div class="bottom-title">打假保真</div>
        <div class="bottom-item">查到诚信企业排名、消费者投诉情况、投诉处理情况等。</div>

        <div class="menu">
          <div class="menu_l_1"></div>
          <div class="menu_r">
            <div class="menu-title">去哪儿买</div>
            <div class="menu-item">
              引导消费者去平台上注册的珠宝企业购买”真珠宝”。中宝平—中国珠宝行业权威平台;千度真—带您到源头买真品；将通过千度真、百度等从其它行业引进上亿的客户,到中宝平上注册认证的企业购买真珠宝,为珠宝行业引流。
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="menu_l_2"></div>
          <div class="menu_r">
            <div class="menu-title">找设计师</div>
            <div class="menu-item">珠宝企业从这里找到设计师；消费者也可在这里与设计师共同设计自己喜欢的“定制珠宝”。</div>
          </div>
        </div>
        <div class="menu">
          <div class="menu_l_3"></div>
          <div class="menu_r">
            <div class="menu-title">寻代工</div>
            <div class="menu-item">珠宝品牌企业在这里找到珠宝制造商，为自己的珠宝代工生产；消费者也可在这里“定制珠宝”。</div>
          </div>
        </div>
        <div class="menu">
          <div class="menu_l_4"></div>
          <div class="menu_r">
            <div class="menu-title">逛直播</div>
            <div class="menu-item">直播公司和个人在这里直播，销售中宝平溯源保真后的诚信珠宝企业产品。</div>
          </div>
        </div>
        <div class="menu">
          <div class="menu_l_5"></div>
          <div class="menu_r">
            <div class="menu-title">拿货专区</div>
            <div class="menu-item">板块就不一一描述了。</div>
          </div>
        </div>
        <div class="menu">
          <div class="menu_l_6"></div>
          <div class="menu_r">
            <div class="menu-title">黄金回收</div>
            <div class="menu-item">板块就不一一描述了。</div>
          </div>
        </div>
        <div class="menu">
          <div class="menu_l_7"></div>
          <div class="menu_r">
            <div class="menu-title">热点资讯</div>
            <div class="menu-item">板块就不一一描述了。</div>
          </div>
        </div>
      </div>
    </div> -->
</body>

<script>
  (function (doc, win) {
    var docEl = doc.documentElement,
      resizeEvt = 'onorientationchange' in window ? 'onorientationchange' : 'resize',
      recalc = function () {
        var clientWidth = docEl.clientWidth;
        if (!clientWidth) return;
        if (clientWidth >= 750) {
          docEl.style.fontSize = '100px';
        } else {
          docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
        }
      };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
  })(document, window);

  var u = navigator.userAgent;
  var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端  
  var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

  function btn_ios() {

    if (isiOS) {
      window.location.href =
        "https://itunes.apple.com/cn/app/%E4%B8%AD%E5%AE%9D%E5%8D%8F%E4%BA%91%E5%B9%B3%E5%8F%B0/id1448463516?mt=8";
    } else {
      alert('请点击Android版下载')
    }

  };

  function btn_android() {
    if (isAndroid) {
      window.location.href = "http://app.gacjc.com/app/download/zbp.apk";
    } else {
      alert('请点击iOS版下载')
    }
  };
</script>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  .main {
    margin: 0 0 0 0;
    font-size: 0.22rem;
  }

  .top-btn-wrap {
    position: relative;
  }

  .btn-ios-wrap,
  .btn-android-wrap {
    position: absolute;
    width: 4.4rem;
    /*220px*/
    height: 1rem;
    /*50px*/
    left: 50%;
    margin-left: -2.2rem;
    /*-110px*/
  }

  .btn-ios-wrap {
    top: 9.36rem;
    /*468px*/
  }

  .btn-android-wrap {
    top: 10.52rem;
    /*526px*/
  }

  .btn-ios,
  .btn-android {
    margin: 0.23rem auto;
    width: 4.35rem;
    height: 0.88rem;
    background-image: url(../../src/img/down/ios.png);
    background-size: 100% 100%;
  }

  .btn-android {
    background-image: url(../../src/img/down/android.png);
  }

  .top-info {
    margin: 0.3rem 0.3rem;
    padding: 0.2rem 0 0 0;
  }

  .top-title {
    font-size: 15px;
    color: #413482;
    padding: 0 0 0 10px;
    background: url(../../src/img/down/title_bg.png) no-repeat left center;
  }

  .top-info .top-items {
    padding: 0.05rem 0;
  }

  .top-info .top-item {
    margin: 0.25rem 0;
    line-height: 0.38rem;
    color: #333;
  }

  .bottom {
    margin: 0 auto;
    background: #ecf1fd;
    padding: 0.1rem 0;
  }

  .bottom-info {
    margin: 5px auto;
    padding-left: 15px;
  }

  .bottom-info .bottom-title,
  .bottom-info .bottom-title1,
  .bottom-info .bottom-title2 {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    color: #413482;
    border-bottom: 2px solid;
  }

  .bottom-info .bottom-item,
  .menu_r .menu-item,
  .menu_r1 .menu-item {
    margin: 10px 0;
    line-height: 25px;
    color: #333;
  }

  .menu {
    margin: 0px auto;
    padding: 10px 5px 0 0px;
  }

  .menu_l_1,
  .menu_l_2,
  .menu_l_3,
  .menu_l_4,
  .menu_l_5,
  .menu_l_6,
  .menu_l_7 {
    float: left;
    width: 1rem;
    height: 1rem;
    background: url(../../src/img/down/icon_1.png) no-repeat top center;
    background-size: 1rem 1rem;
  }

  .menu_l_2 {
    background: url(../../src/img/down/icon_2.png) no-repeat top center;
    background-size: 100% 1rem;
  }

  .menu_l_3 {
    background: url(../../src/img/down/icon_3.png) no-repeat top center;
    background-size: 100% 1rem;
  }

  .menu_l_4 {
    background: url(../../src/img/down/icon_4.png) no-repeat top center;
    background-size: 100% 1rem;
  }

  .menu_l_5 {
    background: url(../../src/img/down/icon_5.png) no-repeat top center;
    background-size: 100% 1rem;
  }

  .menu_l_6 {
    background: url(../../src/img/down/icon_6.png) no-repeat top center;
    background-size: 100% 1rem;
  }

  .menu_l_7 {
    background: url(../../src/img/down/icon_7.png) no-repeat top center;
    background-size: 100% 1rem;
  }

  .menu_r {
    margin-left: 1.40rem;
  }

  .menu_r .menu-title,
  .menu_r1 .menu-title {
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: #413482;
  }
</style>

</html>